<h1>Header</h1>

<p>The header component is used to frame your page layouts. It combines a toolbar with a page title.</p>

<h2>Usage</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="header"}}

    {{#uxs-header as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Page Title"}}
    {{/uxs-header}}

  {{/demo.example}}

  {{demo.snippet "header.hbs"}}

{{/docs-demo}}

<h2>Contextual Components</h2>

<p>The Hero component has the following child components:</p>

<table class="docs-args-table">
  <tbody>
    <tr>
      <td>heading</td>
      <td>Alias of uxs-heading</td>
    </tr>
    <tr>
      <td>toolbar</td>
      <td>Alias of uxs-toolbar</td>
    </tr>
  </tbody>
</table>

<h2>With an image background</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="header-image"}}

    {{#uxs-header image="https://placeimg.com/2560/1600/any/grayscale" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Page Title"}}
    {{/uxs-header}}

  {{/demo.example}}

  {{demo.snippet "header-image.hbs"}}

{{/docs-demo}}


<h2>Styles</h2>

<p>You can customise the look of your header with the style attribute.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="header-styles"}}

    {{#uxs-header style="primary" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Primary Header"}}
    {{/uxs-header}}

    {{#uxs-header style="accent" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Accent Header"}}
    {{/uxs-header}}

    {{#uxs-header style="dark" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Dark Header"}}
    {{/uxs-header}}

    {{#uxs-header style="grey" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Grey Header"}}
    {{/uxs-header}}

    {{#uxs-header style="mid" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Mid Header"}}
    {{/uxs-header}}

    {{#uxs-header style="light" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Light Header"}}
    {{/uxs-header}}

    {{#uxs-header style="white" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "White Header"}}
    {{/uxs-header}}

    {{#uxs-header style="success" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Success Header"}}
    {{/uxs-header}}

    {{#uxs-header style="warning" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Warning Header"}}
    {{/uxs-header}}

    {{#uxs-header style="error" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}
      {{header.title "Error Header"}}
    {{/uxs-header}}

  {{/demo.example}}

  {{demo.snippet "header-styles.hbs"}}

{{/docs-demo}}
