<h1>Header</h1>

<p>The header component is used to frame your page layouts.</p>

<h2>Usage</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="header"}}

    {{#uxs-header image="https://placeimg.com/2560/1600/any/grayscale" as |header|}}
      {{#header.toolbar as |toolbar|}}
        {{toolbar.back "back"}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "search"}}
      {{/header.toolbar}}

      {{header.title "Page Title"}}
    {{/uxs-header}}

  {{/demo.example}}

  {{demo.snippet "header.hbs"}}

{{/docs-demo}}

<h2>Contextual Components</h2>

<p>The Hero component has the following child components:</p>

<table class="docs-args-table">
  <tr>
    <td>heading</td>
    <td>Alias of uxs-heading</td>
  </tr>
  <tr>
    <td>content</td>
    <td>Alias of uxs-content</td>
  </tr>
  <tr>
    <td>button</td>
    <td>Alias of uxs-button</td>
  </tr>
  <tr>
    <td>button-link</td>
    <td>Alias of uxs-button-link</td>
  </tr>
</table>
