<h1>Toolbar</h1>

<p>The header component is used to frame your page layouts.</p>

<h2>Usage</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="toolbar" theme="accent"}}

      {{#uxs-toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "Toolbar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.action "delete"}}
      {{/uxs-toolbar}}

  {{/demo.example}}

  {{demo.snippet "toolbar.hbs"}}

{{/docs-demo}}

<h2>Contextual Components</h2>

<p>The Hero component has the following child components:</p>

<table class="docs-args-table">
  <tr>
    <td>back</td>
    <td>Alias of uxs-icon</td>
  </tr>
  <tr>
    <td>title</td>
    <td>Alias of uxs-subheading</td>
  </tr>
  <tr>
    <td>spacer</td>
    <td>Alias of uxs-div</td>
  </tr>
  <tr>
    <td>action</td>
    <td>Alias of uxs-icon</td>
  </tr>
</table>

<h2>Toolbar Search</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="toolbar-search" theme="accent"}}

      {{#uxs-toolbar as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title (concat "Toolbar: " searchTerm)}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search value=searchTerm}}
      {{/uxs-toolbar}}

  {{/demo.example}}

  {{demo.snippet "toolbar-search.hbs"}}

{{/docs-demo}}


<h2>Styles</h2>

<p>You can customise the look of your toolbar with the style attribute.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="toolbar-styles"}}

      {{#uxs-toolbar style="primary" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "Primary Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

      {{#uxs-toolbar style="accent" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "Accent Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

      {{#uxs-toolbar style="dark" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "Dark Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

      {{#uxs-toolbar style="grey" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "Grey Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

      {{#uxs-toolbar style="mid" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "Mid Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

      {{#uxs-toolbar style="light" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "White Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

      {{#uxs-toolbar style="white" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "White Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

      {{#uxs-toolbar style="success" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "Success Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

      {{#uxs-toolbar style="warning" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "Warning Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

      {{#uxs-toolbar style="error" as |toolbar|}}
        {{toolbar.back "arrow_back"}}
        {{toolbar.title "Error Bar"}}
        {{toolbar.spacer}}
        {{toolbar.action "filter_list"}}
        {{toolbar.action "file_download"}}
        {{toolbar.search}}
      {{/uxs-toolbar}}

  {{/demo.example}}

  {{demo.snippet "toolbar-styles.hbs"}}

{{/docs-demo}}
