{{#docs-demo as |demo|}}

  {{#demo.example name='all-list-subheading-styles.hbs'}}

    {{uxs-list-subheading "DEFAULT"}}
    {{uxs-list-subheading "PRIMARY" style="primary"}}
    {{uxs-list-subheading "ACCENT" style="accent"}}
    {{uxs-list-subheading "WARNING" style="warning"}}
    {{uxs-list-subheading "ERROR" style="error"}}
    {{uxs-list-subheading "DARK" style="dark"}}
    {{uxs-list-subheading "GREY" style="grey"}}
    {{uxs-list-subheading "MID" style="mid"}}
    {{uxs-list-subheading "LIGHT" style="light"}}
    <div class="bg-grey">
      {{uxs-list-subheading "WHITE" style="white"}}
    </div>

  {{/demo.example}}

  {{demo.snippet 'all-list-subheading-styles.hbs'}}
{{/docs-demo}}
