<div class="uxs" style="min-height:100%">
  <div class="fx-col" style="min-height:100%">

    {{demo/nav-bar}}

    <header class="bg-primary c-white p-3 pt-12">
      {{uxs-headline "Dashboard" 4}}
    </header>
    <main class="uxs-layout pv-3 ph-1½ fx-auto bg-light">
      <div class="uxs-row mb-3">
        <div class="uxs-col uxs-col--8 ph-1½">
          <div class="bg-white h-32"></div>
        </div>
        <div class="uxs-col uxs-col--8 ph-1½">
          <div class="bg-white h-32"></div>
        </div>
        <div class="uxs-col uxs-col--8 ph-1½">
          <div class="bg-white h-32"></div>
        </div>
      </div>
      <div class="uxs-row mb-3">
        <div class="uxs-col uxs-col--12 ph-1½">
          <div class="bg-white h-32"></div>
        </div>
        <div class="uxs-col uxs-col--12 ph-1½">
          <div class="bg-white h-32"></div>
        </div>
      </div>
      <div class="uxs-row">
        <div class="uxs-col uxs-col--4 ph-1½">
          <div class="bg-white h-24"></div>
        </div>
        <div class="uxs-col uxs-col--4 ph-1½">
          <div class="bg-white h-24"></div>
        </div>
        <div class="uxs-col uxs-col--4 ph-1½">
          <div class="bg-white h-24"></div>
        </div>
        <div class="uxs-col uxs-col--4 ph-1½">
          <div class="bg-white h-24"></div>
        </div>
        <div class="uxs-col uxs-col--4 ph-1½">
          <div class="bg-white h-24"></div>
        </div>
        <div class="uxs-col uxs-col--4 ph-1½">
          <div class="bg-white h-24"></div>
        </div>
      </div>
    </main>

    <div class="uxs-layout pv-3 ph-1½">
      <div class="uxs-row mb-3">
        <div class="uxs-col uxs-col--{{col}}">
          <div class="bg-accent c-white pv-2 ta-center truncate mh-1½">{{col}} Columns</div>
        </div>
      </div>
    </div>

    {{demo/app-footer}}
  </div>
</div>
