{{#if prefixText}}
  <div class={{bem b "prefix-text" m}}>{{prefixText}}</div>
{{/if}}

{{input
  value=@value
  class=(bem b "input" m)
  focus-in=(action 'focusIn')
  focus-out=(action 'focusOut')
  key-up=(action 'keyUp')
}}

{{#if suffixText}}
  <div class={{bem b "suffix-text" m}}>{{suffixText}}</div>
{{/if}}
