<h1>Button Links</h1>

<p>The button-link component is like the button component but extends the Ember <a href="https://guides.emberjs.com/v2.18.0/templates/links/">link-to component</a> so you can link to other routes.</p>

<h2>Usage</h2>

<p>Like link-to, this component takes one or two arguments:</p>

<ul>
  <li>The name of a route. In this example, it would be docs.patterns</li>
  <li>At most one model for each dynamic segment. If there is no model to pass to the component, you can provide an explicit value instead</li>
</ul>

<p>In addition to being used as a block expression, the button-link component can also be used in inline form by specifying the link text as the first argument to the component:</p>

<p>Let's look at an inline example:</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="button-link"}}
    {{uxs-button-link
      text
      "docs.patterns"
      disabled=disabled
      inline=inline
      style=style
      mini=mini
      naked=naked
      name=name
      selected=selected
    }}
  {{/demo.example}}

  {{demo.snippet 'button-link.hbs'}}

{{/docs-demo}}

<h2>Properties</h2>

<p>Now explore the various properties available in this component:</p>

<table class="docs-args-table">
  <tr>
    <td>text<span class="req">*</span></td>
    <td>{{input placeholder="Button Text" value=text}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>disabled</td>
    <td>{{docs-toggle value=disabled}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>inline</td>
    <td>{{docs-toggle value=inline}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>style</td>
    <td>{{input placeholder="Button Style" value=style}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><em>Possible Values: "primary", "accent", "black", "white", "gray"</em></td>
  </tr>
  <tr>
    <td>mini</td>
    <td>{{docs-toggle value=mini}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>naked</td>
    <td>{{docs-toggle value=naked}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>name</td>
    <td>{{input placeholder="Button Name" value=name}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><em>Defaults to dasherized "text". You can override this by passing in an alternative string.</em></td>
  </tr>
  <tr>
    <td>selected</td>
    <td>{{docs-toggle value=selected}}</td>
    <td><em>Boolean</em></td>
  </tr>
</table>

<h2>Block Usage</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="block-button-link"}}
    {{#uxs-button-link "docs.patterns"}}Block Button Link{{/uxs-button-link}}
  {{/demo.example}}

  {{demo.snippet 'block-button-link.hbs'}}

{{/docs-demo}}
