<h1>Buttons</h1>

<p>The button component is used for clickable actions.</p>

<h2>Usage</h2>

<p>Let's look at a basic example:</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="button"}}
    {{uxs-button
      text
      disabled=disabled
      inline=inline
      loading=loading
      style=style
      mini=mini
      naked=naked
      name=name
      selected=selected
    }}
  {{/demo.example}}

  {{demo.snippet 'button.hbs'}}

{{/docs-demo}}

<h2>Properties</h2>

<p>Now explore the various properties available in this component:</p>

<table class="docs-args-table">
  <tr>
    <td>text<span class="req">*</span></td>
    <td>{{input placeholder="Button Text" value=text}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>disabled</td>
    <td>{{docs-toggle value=disabled}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>inline</td>
    <td>{{docs-toggle value=inline}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>loading</td>
    <td>{{docs-toggle value=loading}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>style</td>
    <td>{{input placeholder="Button Style" value=style}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><em>Possible Values: "primary", "accent", "black", "white", "gray"</em></td>
  </tr>
  <tr>
    <td>mini</td>
    <td>{{docs-toggle value=mini}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>naked</td>
    <td>{{docs-toggle value=naked}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>name</td>
    <td>{{input placeholder="Button Name" value=name}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><em>Defaults to dasherized "text". You can override this by passing in an alternative string.</em></td>
  </tr>
  <tr>
    <td>selected</td>
    <td>{{docs-toggle value=selected}}</td>
    <td><em>Boolean</em></td>
  </tr>
</table>

<h2>Actions</h2>

<p>Finally, this component fires an action on tap/click. Actions receive a reference to the component as the first argument. The action will not be fired if the component is disabled.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="button-action"}}
    {{uxs-button text disabled=disabled action="submit"}}
  {{/demo.example}}

  {{demo.snippet 'button-action.hbs'}}
  {{demo.snippet 'button-action.js'}}

{{/docs-demo}}
