<h1>Form Controls</h1>

<p>The form control component is used as a container for a form input, label, validation & other common form UI.</p>

<h2>Basic Usage</h2>

<p>Let's look at a basic example:</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-control"}}
    {{#uxs-form-control}}
      <div>Form Control content.</div>
    {{/uxs-form-control}}
  {{/demo.example}}

  {{demo.snippet 'form-control.hbs'}}

{{/docs-demo}}


<h2>Common Usage</h2>

<p>Let's look at a common example where we define the controls child element through properties:</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-control-properties"}}
    {{uxs-form-control
      label=label
      disabled=disabled
      type=type
      value=value
      name="my-control"
      tip=tip
      warning=warning
      error=error
    }}
  {{/demo.example}}

  {{demo.snippet 'form-control-properties.hbs'}}

{{/docs-demo}}

<h2>Properties</h2>

<p>Now explore the various properties available in this component:</p>

<table class="docs-args-table">
  <tr>
    <td>label</td>
    <td>{{input placeholder="Label Text" value=label}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>tip</td>
    <td>{{input placeholder="Tip Text" value=tip}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>warning</td>
    <td>{{input placeholder="Warning Text" value=warning}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>error</td>
    <td>{{input placeholder="Error Text" value=error}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>type</td>
    <td>{{input placeholder="Input Type" value=type}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>value</td>
    <td>{{input placeholder="Input Value" value=value}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>disabled</td>
    <td>{{docs-toggle value=disabled}}</td>
    <td><em>Boolean</em></td>
  </tr>
</table>

<h2>Custom Usage</h2>

<p>Although the above should cover 90% of your common use cases, we can customise the control with contextual components:</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-control-custom"}}
    {{#uxs-form-control as |control|}}
      {{control.label "Username" disabled=disabled}}
      {{control.input value="Foo"}}
      {{control.tip "Think of a unique usename. This will be publicly visible."}}
    {{/uxs-form-control}}
  {{/demo.example}}

  {{demo.snippet 'form-control-custom.hbs'}}

{{/docs-demo}}
