<h1>Form Date & Time Inputs</h1>

<p>The form dat & time input component extends from the <em>FlatPickr</em> addon component. As such you can pass any of it's attributes <a href="http://ember-flatpickr.shipshape.io/">attributes</a></p>

<h2>Basic Usage</h2>

<p>Let's look at a basic example with a change action called when changing the value</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-date-time"}}

    <div class="mb">
      {{uxs-form-date value=(readonly date) onChange=(action "setDate")}}
    </div>
    <div class="mb">
      {{uxs-form-time value=(readonly time) onChange=(action "setTime")}}
    </div>
    <div class="mb">
      {{uxs-form-datetime value=(readonly datetime) onChange=(action "setDate")}}
    </div>
  {{/demo.example}}

  {{demo.snippet 'form-date-time.hbs'}}
  {{demo.snippet 'form-date-time-action.js'}}

{{/docs-demo}}

<h2>Attributes</h2>

<table class="docs-args-table">
  <tr>
    <td>value</td>
    <td>{{input placeholder="Value" value=date}}</td>
    <td><em>Mixed</em></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2" class="detail">
      A single dateObject<br />
      A single string containing a date formatted accordingly to dateFormat<br />
      An array of dateObject<br />
      An array of string containing dates formatted accordingly to dateFormat
    </td>
  </tr>
</table>

<h2>Actions</h2>

<ul class="detail">
  <li>onChange (required)</li>
  <li>onClose</li>
  <li>onOpen</li>
</ul>

<p>Each action receives 3 parameters.</p>

<ul class="detail">
  <li>An array of dateObjects</li>
  <li>A string formatted accordingly to dateFormat representing the last selected date</li>
  <li>The Flatpickr instance</li>
</ul>

<h2>Styles Usage</h2>

<p>You can customise the look of your input with the style attribute.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-input-styles"}}

    <div class="p">
      {{#each darkStyles as |style|}}

        <div class="mb">
          {{uxs-form-date value=(readonly date) onChange=(action "setDate") style=style placeholder=(concat (capitalize style))}}
        </div>
        <div class="mb">
          {{uxs-form-time value=(readonly time) onChange=(action "setTime") style=style placeholder=(concat (capitalize style))}}
        </div>
        <div class="mb">
          {{uxs-form-datetime value=(readonly datetime) onChange=(action "setDate") style=style placeholder=(concat (capitalize style))}}
        </div>

      {{/each}}
    </div>
    <div class="bg-dark p">
    {{#each lightStyles as |style|}}

      <div class="mb">
        {{uxs-form-date value=(readonly date) onChange=(action "setDate") style=style placeholder=(concat (capitalize style))}}
      </div>
      <div class="mb">
        {{uxs-form-time value=(readonly time) onChange=(action "setTime") style=style placeholder=(concat (capitalize style))}}
      </div>
      <div class="mb">
        {{uxs-form-datetime value=(readonly datetime) onChange=(action "setDate") style=style placeholder=(concat (capitalize style))}}
      </div>

    {{/each}}
    </div>

  {{/demo.example}}

  {{demo.snippet "form-input-styles.hbs"}}

{{/docs-demo}}
