<h1>Dropdown Controls</h1>

<p>The form drowdown component extends the <a href="https://ember-power-select.com/docs">ember power select</a> component. As such you can pass any of the power select <a href="https://ember-power-select.com/docs/api-reference">attributes</a></p>

<h2>Basic Usage</h2>

<p>Let's look at a basic example of using the drowdown component. It is always used in block format to enable flexible templationg of your optiosn.</p>

<p>Power select aims to be maximally flexible and because of that it doesn't try to make strong assumptions about how you want to use it. e.g. two way bind the selected property. Instead it embraces DDAU (Data Down Actions Up) philosophy so data flow always is unidirectional and explicit.</p>

<p>The <em>onchange</em> event must be handled in your template. This example shows the most common use, update the property on select. For this we can use the ember <em>mut</em> helper.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-dropdown"}}

    {{#uxs-form-dropdown
      selected=name
      options=nameOptions
      onchange=(action (mut name))
      name="my-dropdown"
      as |name|
    }}
      {{name}}
    {{/uxs-form-dropdown}}

    <div class="mt detail">Selected: <b>{{name}}</b></div>

  {{/demo.example}}

  {{demo.snippet 'form-dropdown.hbs'}}

{{/docs-demo}}

<table class="docs-args-table">
  <tr>
    <td>label</td>
    <td>{{input placeholder="Value" value=value}}</td>
    <td><em>String</em></td>
  </tr>
</table>



<h2>Styles Usage</h2>

<p>You can customise the look of your dropdown with the style attribute.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-dropdown-styles"}}

    <div class="p">
      {{#each darkStyles as |style|}}

        <div class="mb">
          {{#uxs-form-dropdown
            allowClear=true
            searchPlaceholder="Search Options"
            style=style
            placeholder=(concat (capitalize style) " Style")
            selected=name
            options=nameOptions
            onchange=(action (mut name))
            name="my-dropdown"
            as |name|
          }}
            {{name}}
          {{/uxs-form-dropdown}}
        </div>
        <div class="mb">
          {{#uxs-form-dropdown-multiple
            allowClear=true
            searchPlaceholder="Search Options"
            style=style
            placeholder=(concat (capitalize style) " Style")
            selected=names
            options=nameOptions
            onchange=(action (mut names))
            name="my-dropdown"
            as |name|
          }}
            {{name}}
          {{/uxs-form-dropdown-multiple}}
        </div>

      {{/each}}
    </div>
    <div class="bg-dark p">
    {{#each lightStyles as |style|}}

      <div class="mb">
        {{#uxs-form-dropdown
          allowClear=true
          searchPlaceholder="Search Options"
          style=style
          placeholder=(concat (capitalize style) " Style")
          selected=name
          options=nameOptions
          onchange=(action (mut name))
          name="my-dropdown"
          as |name|
        }}
          {{name}}
        {{/uxs-form-dropdown}}
      </div>
      <div class="mb">
        {{#uxs-form-dropdown-multiple
          allowClear=true
          searchPlaceholder="Search Options"
          style=style
          placeholder=(concat (capitalize style) " Style")
          selected=names
          options=nameOptions
          onchange=(action (mut names))
          name="my-dropdown"
          as |name|
        }}
          {{name}}
        {{/uxs-form-dropdown-multiple}}
      </div>

    {{/each}}
    </div>

  {{/demo.example}}

  {{demo.snippet "form-dropdown-styles.hbs"}}

{{/docs-demo}}
