<h1>Form</h1>

<h2>Common Model bound form</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-demo"}}

    {{#uxs-form model=model as |form|}}

      {{form.control label="Title" name="title" type="text"}}

      {{#form.control label="Name" name="name" as |control|}}

        {{#control.row as |row|}}
          {{row.input name="firstName"}}
          {{row.input name="lastName"}}
        {{/control.row}}

      {{/form.control}}

      {{form.control label="Email" name="email" type="email"}}

      {{#form.control label="Gender" as |control|}}
        {{#control.dropdown
          selected=model.gender
          options=genders
          allowClear=true
          onchange=(action (mut model.gender))
          as |gender|
        }}
          {{gender}}
        {{/control.dropdown}}

      {{/form.control}}

      {{form.control label="Biography" name="bio" type="textarea" rows=5}}

      {{#form.control label="Date of Birth" name="dateOfBirth" type="date" as |control|}}

        {{#control.row as |row|}}
          {{row.icon 'date_range' prefix=true}}
          {{row.date
            onChange=(action (mut model.dateOfBirth))
          }}
        {{/control.row}}
      {{/form.control}}

      {{#form.control label="Date Time" name="datetime" as |control|}}
        {{control.datetime
          onChange=(action (mut model.datetime))
        }}
      {{/form.control}}

      {{#form.control label="Time" name="time" as |control|}}
        {{control.time
          onChange=(action (mut model.time))
        }}
      {{/form.control}}

      {{form.button "Save" type="submit"}}
      {{form.link "Back" "docs"}}

    {{/uxs-form}}

  {{/demo.example}}

  {{demo.snippet 'form-demo.hbs'}}
  {{demo.snippet 'form-input-action.js'}}

{{/docs-demo}}
