<h1>Form Controls</h1>

<p>The form input component extends from embers <em>{{input}}</em> component. As such you can pass any of the standard <a href="https://guides.emberjs.com/v2.18.0/templates/input-helpers/#toc_text-fields">input attributes</a></p>

<h2>Basic Usage</h2>

<p>Let's look at a basic example with two way binding on the value and an action on pressing enter</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-input"}}
    {{uxs-form-input value=value enter=(action "enterPressed" value)}}
  {{/demo.example}}

  {{demo.snippet 'form-input.hbs'}}
  {{demo.snippet 'form-input-action.js'}}

{{/docs-demo}}

<table class="docs-args-table">
  <tr>
    <td>label</td>
    <td>{{input placeholder="Value" value=value}}</td>
    <td><em>String</em></td>
  </tr>
</table>


<h2>Further Usage</h2>

<p>This example includes futher attributes to control the input:</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-input-further"}}
    {{uxs-form-input
      value=value
      readonly=readonly
      placeholder=placeholder
      disabled=disabled
      size=size
      maxlength=maxlength
      min=min
      max=max
      step=step
      type=type
    }}
  {{/demo.example}}

  {{demo.snippet 'form-input-further.hbs'}}

{{/docs-demo}}

<table class="docs-args-table">
  <tr>
    <td>value</td>
    <td>{{input placeholder="Value" value=value}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>readonly</td>
    <td>{{docs-toggle value=readonly}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>placeholder</td>
    <td>{{input placeholder="Value" value=placeholder}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>disabled</td>
    <td>{{docs-toggle value=disabled}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>maxlength</td>
    <td>{{input type="number" value=maxlength}}</td>
    <td><em>Number</em></td>
  </tr>
  <tr>
    <td>min</td>
    <td>{{input type="number" value=min}}</td>
    <td><em>Number</em></td>
  </tr>
  <tr>
    <td>max</td>
    <td>{{input type="number" value=max}}</td>
    <td><em>Number</em></td>
  </tr>
  <tr>
    <td>step</td>
    <td>{{input type="number" value=step}}</td>
    <td><em>Number</em></td>
  </tr>
  <tr>
    <td>type</td>
    <td>{{input placeholder="Type" value=type}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><em>Possible Values: "text", "password", "number",
    "hidden", "email", "search", "tel", "url"</em></td>
  </tr>
</table>
