<h1>Form Textareas</h1>

<p>The form textarea component extends from embers <em>textarea</em> component. As such you can pass any of the standard <a href="https://guides.emberjs.com/v2.18.0/templates/input-helpers/#toc_text-areas">textarea attributes</a></p>

<h2>Basic Usage</h2>

<p>Let's look at a basic example with two way binding on the value and an action on pressing enter</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-textarea"}}
    {{uxs-form-textarea value=value enter=(action "enterPressed" value)}}
  {{/demo.example}}

  {{demo.snippet 'form-textarea.hbs'}}
  {{demo.snippet 'form-textarea-action.js'}}

{{/docs-demo}}

<table class="docs-args-table">
  <tr>
    <td>label</td>
    <td>{{input placeholder="Value" value=value}}</td>
    <td><em>String</em></td>
  </tr>
</table>


<h2>Further Usage</h2>

<p>This example includes futher attributes to control the input:</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-textarea-further"}}
    {{uxs-form-textarea
      value=value
      rows=rows
      cols=cols
      placeholder=placeholder
      disabled=disabled
      maxlength=maxlength
      wrap=wrap
      readonly=readonly
      autofocus=autofocus
      spellcheck=spellcheck
    }}
  {{/demo.example}}

  {{demo.snippet 'form-textarea-further.hbs'}}

{{/docs-demo}}

<table class="docs-args-table">
  <tr>
    <td>value</td>
    <td>{{input placeholder="Value" value=value}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>rows</td>
    <td>{{input placeholder="Value" value=rows type="number"}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>cols</td>
    <td>{{input placeholder="Value" value=cols type="number"}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>placeholder</td>
    <td>{{input placeholder="Value" value=placeholder}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>disabled</td>
    <td>{{docs-toggle value=disabled}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>maxlength</td>
    <td>{{input type="number" value=maxlength}}</td>
    <td><em>Number</em></td>
  </tr>
  <tr>
    <td>wrap</td>
    <td>{{docs-toggle value=wrap}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>readonly</td>
    <td>{{docs-toggle value=readonly}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>autofocus</td>
    <td>{{docs-toggle value=autofocus}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td>spellcheck</td>
    <td>{{docs-toggle value=spellcheck}}</td>
    <td><em>Boolean</em></td>
  </tr>
  <tr>
    <td></td>
    <td colspan="2"><em>Possible Values: "text", "password", "number",
    "hidden", "email", "search", "tel", "url"</em></td>
  </tr>
</table>



<h2>Styles Usage</h2>

<p>You can customise the look of your textarea with the style attribute.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="form-input-styles"}}

    <div class="p">
      {{#each darkStyles as |style|}}

        <div class="mb">
          {{uxs-form-textarea
            value=value
            style=style
            placeholder=(concat (capitalize style) " Style")
          }}
        </div>

      {{/each}}
    </div>
    <div class="bg-dark p">
    {{#each lightStyles as |style|}}

      <div class="mb">
        {{uxs-form-textarea
          value=value
          style=style
          placeholder=(concat (capitalize style) " Style")
        }}
      </div>

    {{/each}}
    </div>

  {{/demo.example}}

  {{demo.snippet "form-input-styles.hbs"}}

{{/docs-demo}}
