{{#docs-demo as |demo|}}

  {{#demo.example name="fab-link-demo.hbs"}}

    <div class="uxs">
      {{uxs-fab-link
        p1
        "docs.buttons"
        icon=p2
        style=style
        color=color
        radius=radius
        disabled=disabled
      }}
    </div>

  {{/demo.example}}

  {{#args-table "fab-link-basic-demo" as |table|}}
    {{#table.row "fab-link-icon" as |row|}}
      {{row.label "Param 1"}}
      {{row.input p1 }}
      {{row.type "String"}}
    {{/table.row}}
    {{#table.row "fab-link-text" as |row|}}
      {{row.label "Param 2"}}
      {{row.input p2 }}
      {{row.type "String"}}
    {{/table.row}}
    {{#table.row "fab-link-disabled" as |row|}}
      {{row.label "Disabled"}}
      {{row.checkbox disabled }}
      {{row.type "Boolean"}}
    {{/table.row}}
    {{#table.row "fab-link-style" as |row|}}
      {{row.label "Style"}}
      {{row.input style options="fab-styles"}}
      {{row.type "String"}}
    {{/table.row}}
    {{#table.row "fab-link-color" as |row|}}
      {{row.label "Color"}}
      {{row.input color options="colors"}}
      {{row.type "String"}}
    {{/table.row}}
  {{/args-table}}

  <datalist id="fab-styles">
    <option value="regular"/>
    <option value="mini"/>
    <option value="extended"/>
  </datalist>

  <datalist id="colors">
    <option value="primary"/>
    <option value="accent"/>
    <option value="warning"/>
    <option value="error"/>
    <option value="dark"/>
    <option value="grey"/>
    <option value="mid"/>
    <option value="light"/>
    <option value="white"/>
  </datalist>


  {{demo.snippet "fab-link-demo.hbs"}}
{{/docs-demo}}
