<h1>Lists</h1>

<p>List typography components.</p>

<h2>Ordered Lists</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="ordered-lists"}}

    {{#uxs-ol
      align=align
      style=style
      as |list|
    }}
      {{list.item "Item One"}}
      {{list.item "Item Two"}}
      {{#list.ol as |sublist|}}
        {{sublist.item "Item Three a"}}
        {{sublist.item "Item Three b"}}
        {{sublist.item "Item Three c"}}
      {{/list.ol}}
      {{list.item "Item Four"}}
    {{/uxs-ol}}

  {{/demo.example}}

  {{demo.snippet "ordered-lists.hbs"}}

{{/docs-demo}}

<h2>Unordered Lists</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="unordered-lists"}}

    {{#uxs-ul
      align=align
      style=style
      as |list|
    }}
      {{list.item "Item One"}}
      {{list.item "Item Two"}}
      {{#list.ul as |sublist|}}
        {{sublist.item "Item Three a"}}
        {{sublist.item "Item Three b"}}
        {{sublist.item "Item Three c"}}
      {{/list.ul}}
      {{list.item "Item Four"}}
    {{/uxs-ul}}

  {{/demo.example}}

  {{demo.snippet "unordered-lists.hbs"}}

{{/docs-demo}}

<h2>Definition Lists</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="definition-lists"}}

    {{#uxs-dl
      align=align
      style=style
      as |list|
    }}
      {{list.term "Coffee"}}
      {{list.description "Black hot drink"}}
      {{list.term "Milk"}}
      {{list.description "White cold drink"}}
    {{/uxs-dl}}

  {{/demo.example}}

  {{demo.snippet "definition-lists.hbs"}}

{{/docs-demo}}
