<h1>Tables</h1>

<p>Table all the things!</p>

<h2>Tabular Data Example</h2>

<p>This example shows using tables to represent data. Rows can be grouped by sections and certain rows highlighted.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="tables"}}

    {{#uxs-table as |table|}}
      {{#table.row as |row|}}
        {{row.heading "Food"}}
        {{row.heading "Caloires (g)" numeric=true}}
        {{row.heading "Fat (g)" numeric=true}}
        {{row.heading "Carbs (g)" numeric=true}}
      {{/table.row}}
      {{#table.row section=true as |row|}}
        {{row.cell "Frozen yoghurt"}}
        {{row.cell "159" numeric=true}}
        {{row.cell "6.0" numeric=true}}
        {{row.cell "24" numeric=true}}
      {{/table.row}}
      {{#table.row highlight=true as |row|}}
        {{row.cell "Ice cream sandwich"}}
        {{row.cell "237" numeric=true}}
        {{row.cell "9.0" numeric=true}}
        {{row.cell "37" numeric=true}}
      {{/table.row}}
      {{#table.row as |row|}}
        {{row.cell "Eclair"}}
        {{row.cell "262" numeric=true}}
        {{row.cell "16.0" numeric=true}}
        {{row.cell "24" numeric=true}}
      {{/table.row}}
      {{#table.row section=true as |row|}}
        {{row.cell "Ice Pop"}}
        {{row.cell "37" numeric=true}}
        {{row.cell "8.0" numeric=true}}
        {{row.cell "12" numeric=true}}
      {{/table.row}}
      {{#table.row as |row|}}
        {{row.cell "Rocket cream sandwich"}}
        {{row.cell "124" numeric=true}}
        {{row.cell "9.0" numeric=true}}
        {{row.cell "37" numeric=true}}
      {{/table.row}}
      {{#table.row as |row|}}
        {{row.cell "Callipso"}}
        {{row.cell "99" numeric=true}}
        {{row.cell "8.0" numeric=true}}
        {{row.cell "42" numeric=true}}
      {{/table.row}}
    {{/uxs-table}}

  {{/demo.example}}

  {{demo.snippet "tables.hbs"}}

{{/docs-demo}}

<h2>Record Tables</h2>

<p>This is a more traditional use of tables to represent a collection of resoruces. This should be used in place of a uxs-list where appropriate.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="record-tables"}}

    {{#uxs-table style="record" as |table|}}
      {{#table.row as |row|}}
        {{row.heading "#" small=true numeric=true}}
        {{row.heading "First Name"}}
        {{row.heading "Last Name"}}
        {{row.heading "Handle"}}
      {{/table.row}}
      {{#table.row as |row|}}
        {{row.cell "1" small=true numeric=true}}
        {{row.cell "Mark"}}
        {{row.cell "Otto"}}
        {{row.cell "@mdo"}}
      {{/table.row}}
      {{#table.row highlight=true as |row|}}
        {{row.cell "2" small=true numeric=true}}
        {{row.cell "Jacob"}}
        {{row.cell "Thornton"}}
        {{row.cell "@fat"}}
      {{/table.row}}
      {{#table.row as |row|}}
        {{row.cell "33" small=true numeric=true}}
        {{row.cell "Larry"}}
        {{row.cell "Loooooongnameason"}}
        {{row.cell "@twitter"}}
      {{/table.row}}
    {{/uxs-table}}

  {{/demo.example}}

  {{demo.snippet "record-tables.hbs"}}

{{/docs-demo}}
