{{#docs-demo as |demo|}}

  {{#demo.example name="menu-vertical-demo.hbs"}}

    <div class="uxs">
      {{#uxs-menu style="vertical" as |menu|}}
        {{menu.item "Maps"}}
        {{menu.item "Books"}}
        {{menu.item "Flights"}}
        {{menu.item "App"}}
      {{/uxs-menu}}
    </div>

  {{/demo.example}}

  {{demo.snippet "menu-vertical-demo.hbs"}}

{{/docs-demo}}