{{#docs-demo as |demo|}}

  {{#demo.example name='all-avatar-styles.hbs'}}

    <div>
      <div class="f fr">
        {{uxs-avatar "http://api.faceholder.io/faces?id=primary" style="primary" rounded=true}}
        {{uxs-avatar-text "AB" style="primary" rounded=true}}
        {{uxs-avatar-icon "invert_colors" style="primary" rounded=true}}
        {{#uxs-avatar-text style="primary" rounded=true as |avatar|}}
          {{avatar.large "21"}}
          {{avatar.small "DAYS"}}
        {{/uxs-avatar-text}}
      </div>
      <div class="f fr">
        {{uxs-avatar "http://api.faceholder.io/faces?id=accent" style="accent" rounded=true}}
        {{uxs-avatar-text "BC" style="accent" rounded=true}}
        {{uxs-avatar-icon "accessible" style="accent" rounded=true}}
        {{#uxs-avatar-text style="accent" rounded=true as |avatar|}}
          {{avatar.large "21"}}
          {{avatar.small "DAYS"}}
        {{/uxs-avatar-text}}
      </div>
      <div class="f fr">
        {{uxs-avatar "http://api.faceholder.io/faces?id=warning" style="warning" rounded=true}}
        {{uxs-avatar-text "CD" style="warning" rounded=true}}
        {{uxs-avatar-icon "hourglass_full" style="warning" rounded=true}}
        {{#uxs-avatar-text style="warning" rounded=true as |avatar|}}
          {{avatar.large "21"}}
          {{avatar.small "DAYS"}}
        {{/uxs-avatar-text}}
      </div>
      <div class="f fr">
        {{uxs-avatar "http://api.faceholder.io/faces?id=error" style="error" rounded=true}}
        {{uxs-avatar-text "DE" style="error" rounded=true}}
        {{uxs-avatar-icon "fingerprint" style="error" rounded=true}}
        {{#uxs-avatar-text style="error" rounded=true as |avatar|}}
          {{avatar.large "21"}}
          {{avatar.small "DAYS"}}
        {{/uxs-avatar-text}}
      </div>
      <div class="f fr">
        {{uxs-avatar "http://api.faceholder.io/faces?id=dark" style="dark" rounded=true}}
        {{uxs-avatar-text "EF" style="dark" rounded=true}}
        {{uxs-avatar-icon "today" style="dark" rounded=true}}
        {{#uxs-avatar-text style="dark" rounded=true as |avatar|}}
          {{avatar.large "21"}}
          {{avatar.small "DAYS"}}
        {{/uxs-avatar-text}}
      </div>
      <div class="f fr">
        {{uxs-avatar "http://api.faceholder.io/faces?id=grey" style="grey" rounded=true}}
        {{uxs-avatar-text "FG" style="grey" rounded=true}}
        {{uxs-avatar-icon "verified_user" style="grey" rounded=true}}
        {{#uxs-avatar-text style="grey" rounded=true as |avatar|}}
          {{avatar.large "21"}}
          {{avatar.small "DAYS"}}
        {{/uxs-avatar-text}}
      </div>
      <div class="f fr">
        {{uxs-avatar "http://api.faceholder.io/faces?id=mid" style="mid" rounded=true}}
        {{uxs-avatar-text "GH" style="mid" rounded=true}}
        {{uxs-avatar-icon "album" style="mid" rounded=true}}
        {{#uxs-avatar-text style="mid" rounded=true as |avatar|}}
          {{avatar.large "21"}}
          {{avatar.small "DAYS"}}
        {{/uxs-avatar-text}}
      </div>
      <div class="f fr">
        {{uxs-avatar "http://api.faceholder.io/faces?id=light" style="light" rounded=true}}
        {{uxs-avatar-text "HI" style="light" rounded=true}}
        {{uxs-avatar-icon "email" style="light" rounded=true}}
        {{#uxs-avatar-text style="light" rounded=true as |avatar|}}
          {{avatar.large "21"}}
          {{avatar.small "DAYS"}}
        {{/uxs-avatar-text}}
      </div>
      <div class="f fr">
        {{uxs-avatar "http://api.faceholder.io/faces?id=white" style="white" rounded=true}}
        {{uxs-avatar-text "IJ" style="white" rounded=true}}
        {{uxs-avatar-icon "insert_emoticon" style="white" rounded=true}}
        {{#uxs-avatar-text style="white" rounded=true as |avatar|}}
          {{avatar.large "21"}}
          {{avatar.small "DAYS"}}
        {{/uxs-avatar-text}}
      </div>
    </div>


  {{/demo.example}}

  {{demo.snippet 'all-avatar-styles.hbs'}}
{{/docs-demo}}
