{{#if icon}}
  {{svg-jar
    icon
    class=(bem b "icon" m)
    data-test-button-icon=testSelectorValue
  }}
{{/if}}
<div
  class={{bem b "body" m}}
  data-test-button-body={{testSelectorValue}}
>
  <div
    class={{bem b "loading" m}}
    data-test-button-loading={{testSelectorValue}}
  >
    {{loadingText}}
  </div>
  <div
    class={{bem b "text" m}}
    data-test-button-text={{testSelectorValue}}
  >
    {{text}}{{yield}}
  </div>
</div>
