{{#if hasLabel}}
  {{uxs-form-label label base="uxs-datalist__label"}}
{{/if}}

{{#if hasContent}}
  {{#uxs-div
    testSelectorName="uxs-datalist-row"
    base="uxs-datalist__row"
    m=m
  }}
    {{#if hasValue}}
      {{#uxs-div
        testSelectorName="uxs-datalist-value"
        base="uxs-datalist__value"
        m=m
      }}
        {{value}}
      {{/uxs-div}}
    {{else if hasEmpty}}
      {{#uxs-div
        testSelectorName="uxs-datalist-value"
        base="uxs-datalist__value"
        m=m
      }}
        <div class={{bem "uxs-datalist" "value" m}}>{{empty}}</div>
      {{/uxs-div}}
    {{/if}}
  {{/uxs-div}}
{{/if}}

{{#if hasTip}}
  {{uxs-form-tip tip base="uxs-datalist__tip"}}
{{/if}}

{{yield (hash
  row=(
    component
    "uxs-div"
    testSelectorName="uxs-datalist-row"
    base="uxs-datalist__row"
    m=m
  )
  group=(
    component
    "uxs-div"
    testSelectorName="uxs-datalist-group"
    base="uxs-datalist__group"
    m=m
  )
  label=(
    component
    "uxs-form-label"
    base="uxs-datalist__label"
  )
  value=(
    component
    "uxs-text"
    testSelectorName="uxs-datalist-value"
    base="uxs-datalist__value"
    m=m
  )
  empty=(
    component
    "uxs-text"
    testSelectorName="uxs-datalist-value"
    base="uxs-datalist__value"
    m=m
    )
  tip=(
    component
    "uxs-form-tip"
    base="uxs-datalist__tip"
  )
)}}
