{{#if showIcon}}
  {{svg-jar
    loadingIcon
    class=(bem b "loading-icon" m)
    data-test-fab-loading-icon=testSelectorValue
  }}
  {{svg-jar
    computedIcon
    class=(bem b "icon" m)
    data-test-fab-icon=testSelectorValue
  }}
{{/if}}

{{#if showText}}
  <div
    class={{bem b "loading-text" m}}
    data-test-fab-loading-text={{testSelectorValue}}
  >
    {{loadingText}}
  </div>
  <div
    class={{bem b "text" m}}
    data-test-fab-text={{testSelectorValue}}
  >
    {{computedText}}{{yield}}
  </div>
{{/if}}
