{{#if hasIcon}}
  {{uxs-icon icon class=(bem "uxs-list" "notice-icon" m)}}
{{/if}}
{{#if hasText}}
  <div class={{bem "uxs-list" "notice-text" m}}>{{text}}</div>
{{/if}}
{{#if hasAction}}
  <div class={{bem "uxs-list" "notice-action" m}} {{action "action"}}>{{actionText}}</div>
{{/if}}
