{{#if hasLabel}}
  {{uxs-form-label label base="uxs-datalist__label"}}
{{/if}}
{{#uxs-div
  testSelectorName="uxs-datalist-row"
  base="uxs-datalist__row"
  m=m
}}
  {{#if hasValue}}
    {{#uxs-div
      testSelectorName="uxs-datalist-value"
      base="uxs-datalist__value"
      m=m
    }}
      {{value}}
    {{/uxs-div}}
  {{else if hasEmpty}}
    {{#uxs-div
      testSelectorName="uxs-datalist-value"
      base="uxs-datalist__value"
      m=m
    }}
      <div class={{bem "uxs-datalist" "value" m}}>{{empty}}</div>
    {{/uxs-div}}
  {{/if}}
  {{yield}}
{{/uxs-div}}
{{#if hasTip}}
  {{uxs-form-tip tip base="uxs-datalist__tip"}}
{{/if}}
