<label class={{bem b "result-limit" m}}>
  <div
    class={{bem b "label" m}}
    data-test-pagination-label={{name}}
  >
    {{resultsLabel}}
  </div>
  <select
    onchange={{action "changeSize"}}
    class={{bem b "size" m}}
    data-test-pagination-size={{name}}
  >
    <option selected={{eq size 10}}>10</option>
    <option selected={{eq size 25}}>25</option>
    <option selected={{eq size 50}}>50</option>
    <option selected={{eq size 100}}>100</option>
  </select>
</label>

<div 
  class={{bem b "info" m}}
  data-test-pagination-result-limit={{name}}
>
  {{resultsText}}
</div>

<div class={{bem b "controls" m}}>
  {{uxs-icon
    "chevron_left"
    disabled=isPreviousButtonDisabled
    onClick=(action "changePage" (dec page))
    testSelectorName="data-test-pagination-prev"
  }}

  {{uxs-icon
    "chevron_right"
    disabled=isNextButtonDisabled
    onClick=(action "changePage" (inc page))
    testSelectorName="data-test-pagination-next"
  }}
</div>
