{{#if icon}}
  <div class={{bem b "icon" m}}>
    {{icon}}
  </div>
{{/if}}
<div class={{bem b "body" m}}>
  <div class={{bem b "loading" m}}>
    {{loadingText}}
  </div>
  <div class={{bem b "text" m}}>
    {{text}}{{yield}}
  </div>
</div>
