{{#if hasLabel}}
  <div class={{bem "uxs-datalist" "label" m}}>{{label}}</div>
{{/if}}
<div class={{bem "uxs-datalist" "row" m}}>
  {{#if hasValue}}
    <div class={{bem "uxs-datalist" "value" m}}>{{value}}</div>
  {{else if hasEmpty}}
    <div class={{bem "uxs-datalist" "value" m}}>{{empty}}</div>
  {{/if}}
  {{yield}}
</div>
{{#if hasTip}}
  <div class={{bem "uxs-datalist" "tip" m}}>{{tip}}</div>
{{/if}}
