{{#if showIcon}}
  <div
    class={{bem b "loading-icon" m}}
    data-test-fab-loading-icon={{testSelectorValue}}
  >
    {{loadingIcon}}
  </div>
  <div
    class={{bem b "icon" m}}
    data-test-fab-icon={{testSelectorValue}}
  >
    {{icon}}
  </div>
{{/if}}

{{#if showText}}
  <div
    class={{bem b "loading-text" m}}
    data-test-fab-loading-text={{testSelectorValue}}
  >
    {{loadingText}}
  </div>
  <div
    class={{bem b "text" m}}
    data-test-fab-text={{testSelectorValue}}
  >
    {{text}}{{yield}}
  </div>
{{/if}}
