<div class="uxs" style="min-height:100%">
  <div class="fx-col" style="min-height:100%">

    {{demo/nav-bar}}

    <header class="bg-primary c-white p-3 pt-12">
      {{uxs-headline "Collection Page" 4}}
    </header>

    <div class="uxs-breadcrumb pv-1">
      <div class="uxs-breadcrumb__item">Home</div>
      <div class="uxs-breadcrumb__item">List</div>
      <div class="uxs-breadcrumb__item">Item</div>
    </div>

    <div class="uxs-layout fx-auto">
      <div class="uxs-row ph-1½ fx-auto">
        <main class="uxs-col--24 md:uxs-col--19 xl:uxs-col--20 ph-1½ fx-auto">
          <div class="uxs-col-main">
            {{uxs-subtitle "Main"}}
          </div>

        </main>
        <aside class="uxs-col--24 md:uxs-col--5 xl:uxs-col--4 ph-1½">
          <div class="uxs-sidebar">
            {{uxs-subtitle "Aside"}}
          </div>
        </aside>
      </div>
    </div>
    {{demo/app-footer}}
  </div>
</div>
