<div class="uxs">

  {{#uxs-app fixedNav=true}}

    {{#uxs-navbar fixed=true name="AppName" as |bar|}}
      {{#bar.logo}}{{/bar.logo}}
      {{#bar.nav as |nav|}}
        {{nav.link "Docs" "docs"}}
        {{nav.link "Api" "docs"}}
        {{nav.link "Dashboard" "app.dash"}}
        {{nav.link "Splash" "app.splash"}}
        {{nav.link "Single" "app.single"}}
        {{nav.link "Double" "app.double"}}
        {{nav.link "Triple" "app.triple"}}
      {{/bar.nav}}
    {{/uxs-navbar}}

    {{outlet}}

  {{/uxs-app}}

</div>
