<div class="uxs">

  {{#uxs-app fixedNav=true}}

    {{#uxs-navbar fixed=true name="AppName" as |bar|}}
      {{#bar.desktopNav as |nav|}}
        {{#nav.menu as |menu|}}
          {{menu.link "Docs" "docs" rightIcon="book"}}
          {{menu.link "Api" "docs"}}
          {{menu.link "Dashboard" "app.dash"}}
          {{menu.link "Splash" "app.splash"}}
          {{menu.link "Single" "app.single"}}
          {{menu.link "Double" "app.double"}}
          {{menu.link "Triple" "app.triple"}}
        {{/nav.menu}}
      {{/bar.desktopNav}}
      {{#bar.mobileNav as |nav|}}
        {{uxs-subheading "AppName" align="center"}}
        {{#nav.menu as |menu|}}
          {{menu.link "Docs" "docs" rightIcon="book"}}
          {{menu.link "Api" "docs"}}
          {{menu.link "Dashboard" "app.dash"}}
          {{menu.link "Splash" "app.splash"}}
          {{menu.link "Single" "app.single"}}
          {{menu.link "Double" "app.double"}}
          {{menu.link "Triple" "app.triple"}}
        {{/nav.menu}}
      {{/bar.mobileNav}}
    {{/uxs-navbar}}

    {{outlet}}

  {{/uxs-app}}

</div>
