<div class="uxs uxs-full">
  {{#uxs-app fixedNav=true}}
    {{#uxs-nav-bar fixed=true as |bar|}}
      {{bar.logo "addon-docs-pen"}}
      {{bar.title "CRUD Life"}}
      {{bar.spacer}}
      {{#bar.menu as |menu|}}
        {{menu.link "Homepage" "index"}}
        {{menu.link "Docs" "docs.index"}}
        {{menu.link "Styleguide" "styleguide"}}
        {{menu.link "App Layouts" "app"}}
      {{/bar.menu}}
    {{/uxs-nav-bar}}
    {{outlet}}
  {{/uxs-app}}
</div>
