{{docs-header}}

{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}

    {{nav.section "Introduction"}}

    {{nav.item "Home" "docs.index"}}
    {{nav.item "Patterns" "docs.patterns"}}
    {{nav.item "Components" "docs.components.index"}}
    {{nav.item "Quickstart" "docs.quickstart"}}
    {{nav.item "Changelog" "docs.changelog"}}

    {{nav.section "Typography"}}

    {{nav.item "Text ✓" "docs.typography.index"}}
    {{nav.item "Lists" "docs.typography.lists"}}
    {{nav.item "Tables" "docs.typography.tables"}}
    {{nav.item "Dividers" "docs.typography.dividers"}}

    {{nav.section "Buttons"}}

    {{nav.item "Regular ✓" "docs.buttons.index"}}
    {{nav.item "Fabs ✓" "docs.buttons.fabs"}}
    {{nav.item "Icons ✓" "docs.buttons.icons"}}

    {{nav.section "Lists"}}

    {{nav.item "Items ✓" "docs.lists.index"}}
    {{nav.item "Avatars ✓" "docs.lists.avatars"}}
    {{nav.item "Pagination" "docs.lists.pagination"}}
    {{nav.item "Subheadings" "docs.lists.subheadings"}}
    {{nav.item "Notices" "docs.lists.notices"}}
    {{nav.item "Data Tables" "docs.lists.tables"}}

    {{nav.section "Data"}}

    {{nav.item "List" "docs.data.index"}}
    {{nav.item "Inline" "docs.data.inline"}}
    {{nav.item "Table" "docs.data.table"}}

    {{nav.section "Forms"}}

    {{nav.item "Form (inc buttons) ✓" "docs.components.index"}}
    {{nav.item "Inputs ✓" "docs.components.index"}}
    {{nav.item "Textareas ✓" "docs.components.index"}}
    {{nav.item "Checkboxes ✓" "docs.components.index"}}
    {{nav.item "Radio Input ✓" "docs.components.index"}}
    {{nav.item "Dropdown ✓" "docs.components.index"}}
    {{nav.item "Multi Dropdown ✓" "docs.components.index"}}
    {{nav.item "Date Picker ✓" "docs.components.index"}}

    {{nav.section "Menus/Navigation"}}

    {{nav.item "Menu Bar" "docs.components.index"}}
    {{nav.item "Sidebar" "docs.components.index"}}
    {{nav.item "Action Menu" "docs.components.index"}}
    {{nav.item "Dropdown Menu" "docs.components.index"}}

    {{nav.section "App Bar"}}

    {{nav.item "Header ✓" "docs.components.index"}}
    {{nav.item "Footer" "docs.components.index"}}

    {{nav.section "Containers"}}

    {{nav.item "App" "docs.components.index"}}
    {{nav.item "Windows & Panes" "docs.components.index"}}
    {{nav.item "Footers" "docs.components.index"}}

    {{nav.section "Misc"}}

    {{nav.item "Toast" "docs.components.index"}}
    {{nav.item "Tooltips" "docs.components.index"}}
    {{nav.item "Notice" "docs.components.index"}}
    {{nav.item "Preamble" "docs.components.index"}}













    {{nav.section "Settings"}}

    {{nav.item "Colors" "docs.settings.colors"}}
    {{nav.item "Type" "docs.settings.typography"}}

    {{nav.section "Sass"}}

    {{nav.item "Variables" "docs.sass.variables"}}
    {{nav.item "Mixins" "docs.sass.mixins"}}
    {{nav.item "Functions" "docs.sass.functions"}}

    {{nav.section "Utility Classes"}}

    {{nav.item "Spacing" "docs.utilities.spacing"}}
    {{nav.item "Borders" "docs.utilities.borders"}}
    {{nav.item "Colors" "docs.utilities.colors"}}
    {{nav.item "Typography" "docs.utilities.typography"}}
    {{nav.item "Flex" "docs.utilities.flex"}}

    {{!-- {{nav.section "Basics"}}

    {{nav.item "Typography" "docs.typography.index"}}
    {{nav.item "Lists" "docs.typography.lists"}}
    {{nav.item "Tables" "docs.typography.tables"}}

    {{nav.section "Buttons"}}
    {{nav.item "Buttons" "docs.buttons"}}
    {{nav.item "Fabs" "docs.fabs"}}
    {{nav.item "Icons" "docs.icons"}}


    {{nav.section "Components"}}

    {{nav.item "Data" "docs.components.data"}} --}}

    {{!-- {{nav.item "Form" "docs.forms.index"}}
    {{nav.item "Button Links" "docs.forms.button-links"}}
    {{nav.item "Button Groups" "docs.forms.button-groups"}}
    {{nav.item "Controls" "docs.forms.controls"}}
    {{nav.item "Inputs" "docs.forms.inputs"}}
    {{nav.item "Date & Time Inputs" "docs.forms.date-time-inputs"}}
    {{nav.item "Textareas" "docs.forms.textareas"}}
    {{nav.item "Dropdowns" "docs.forms.dropdowns"}}
    {{nav.item "Toggle Controls" "docs.forms.toggles"}}
    {{nav.item "Validation" "docs.forms.validation"}}
    {{nav.item "Control Rows" "docs.forms.rows"}}
    <del>{{nav.item "Fieldsets" "docs.forms.fieldsets"}}</del>

    {{nav.section "Navigation"}}

    {{nav.item "Tabs" "docs.navigation.tabs"}}
    {{nav.item "Breadcrumbs" "docs.navigation.breadcrumbs"}}

    {{nav.section "Lists"}}

    {{nav.item "Items" "docs.lists.items"}}
    {{nav.item "Avatars" "docs.lists.avatars"}}
    {{nav.item "Subheadings" "docs.lists.subheadings"}}
    {{nav.item "Notices" "docs.lists.notices"}}

    {{nav.section "Components"}}

    {{nav.item "Pagination" "docs.components.pagination"}}
    {{nav.item "Data (new)" "docs.components.data"}}
    {{nav.item "Datalists" "docs.components.datalists"}}
    {{nav.item "Icons" "docs.components.icons"}}
    {{nav.item "Menus" "docs.components.menus"}}
    {{nav.item "Preamble" "docs.components.preamble"}}
    {{nav.item "Notice" "docs.components.notice"}}
    {{nav.item "Pills" "docs.components.pills"}}
    {{nav.item "Splash" "docs.components.splash"}}
    {{nav.item "Callout" "docs.components.callout"}}

    {{nav.section "Layout" "docs.layout.index"}}

    {{nav.item "App" "docs.layout.app"}}
    {{nav.item "Window" "docs.layout.window"}}
    {{nav.item "Pane" "docs.layout.pane"}}
    {{nav.item "Navbar" "docs.layout.navbar"}}
    {{nav.item "Hero" "docs.layout.hero"}}
    {{nav.item "Toolbar" "docs.layout.toolbar"}}
    {{nav.item "Header" "docs.layout.header"}}

    {{nav.section "Example CRUD App" "app.index"}}
    {{nav.item "Dashboard" "app.dash"}}
    {{nav.item "List" "app.list"}}
    {{nav.item "Resource" "app.resource" 1}} --}}

  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
