{{docs-header}}

{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}

    {{nav.section "Introduction"}}

    {{nav.item "Home" "docs.index"}}
    {{nav.item "Patterns" "docs.patterns"}}
    {{nav.item "Quickstart" "docs.quickstart"}}

    {{nav.section "Settings"}}

    {{nav.item "Colors" "docs.settings.colors"}}
    {{nav.item "Type" "docs.settings.typography"}}

    {{nav.section "Basics"}}

    {{nav.item "Typography" "docs.typography.index"}}
    {{nav.item "Lists" "docs.typography.lists"}}
    {{nav.item "Tables" "docs.typography.tables"}}

    {{nav.section "Forms"}}

    {{nav.item "Form" "docs.forms.index"}}
    {{nav.item "Buttons" "docs.forms.buttons"}}
    {{nav.item "Button Links" "docs.forms.button-links"}}
    {{nav.item "Button Groups" "docs.forms.button-groups"}}
    {{nav.item "Controls" "docs.forms.controls"}}
    {{nav.item "Inputs" "docs.forms.inputs"}}
    {{nav.item "Date & Time Inputs" "docs.forms.date-time-inputs"}}
    {{nav.item "Textareas" "docs.forms.textareas"}}
    {{nav.item "Dropdowns" "docs.forms.dropdowns"}}
    {{nav.item "Toggle Controls" "docs.forms.toggles"}}
    {{nav.item "Validation" "docs.forms.validation"}}
    {{nav.item "Control Rows" "docs.forms.rows"}}
    <del>{{nav.item "Fieldsets" "docs.forms.fieldsets"}}</del>

    {{nav.section "Navigation"}}

    {{nav.item "Tabs" "docs.navigation.tabs"}}
    {{nav.item "Breadcrumbs" "docs.navigation.breadcrumbs"}}

    {{nav.section "Lists"}}

    {{nav.item "Items" "docs.lists.items"}}
    {{nav.item "Avatars" "docs.lists.avatars"}}
    {{nav.item "Subheadings" "docs.lists.subheadings"}}
    {{nav.item "Notices" "docs.lists.notices"}}

    {{nav.section "Components"}}

    {{nav.item "Pagination" "docs.components.pagination"}}
    {{nav.item "Datalists" "docs.components.datalists"}}
    {{nav.item "Icons" "docs.components.icons"}}
    {{nav.item "Menus" "docs.components.menus"}}
    {{nav.item "Preamble" "docs.components.preamble"}}
    {{nav.item "Notice" "docs.components.notice"}}
    {{nav.item "Pills" "docs.components.pills"}}
    {{nav.item "Splash" "docs.components.splash"}}


    {{nav.section "Layout" "docs.layout.index"}}

    {{nav.item "App" "docs.layout.app"}}
    {{nav.item "Window" "docs.layout.window"}}
    {{nav.item "Pane" "docs.layout.pane"}}
    {{nav.item "Navbar" "docs.layout.navbar"}}
    {{nav.item "Hero" "docs.layout.hero"}}
    {{nav.item "Toolbar" "docs.layout.toolbar"}}
    {{nav.item "Header" "docs.layout.header"}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}

{{/docs-viewer}}
