{{docs-navbar logo='ember-cli' name='UX Sauce'}}

{{#docs-viewer as |viewer|}}

 {{#viewer.nav as |nav|}}
    {{nav.item 'Introduction' 'docs.index'}}
    {{nav.item 'Patterns' 'docs.patterns'}}
    {{nav.item 'Quickstart' 'docs.quickstart'}}
    {{nav.item 'Settings' 'docs.settings.index'}}
    {{#nav.subnav as |nav|}}
      {{nav.item 'Colors' 'docs.settings.colors'}}
      {{nav.item 'Typography' 'docs.settings.typography'}}
    {{/nav.subnav}}
    {{nav.item 'Typography' 'docs.typography.index'}}
    {{#nav.subnav as |nav|}}
      {{nav.item 'Lists' 'docs.typography.lists'}}
      {{nav.item 'Tables' 'docs.typography.tables'}}
    {{/nav.subnav}}
    {{nav.item 'Components' 'docs.components'}}
    {{#nav.subnav as |nav|}}
      {{nav.item 'Lists' 'docs.components.lists'}}
      {{nav.item 'Pagination' 'docs.components.pagination'}}
      {{nav.item 'Datalists' 'docs.components.datalists'}}
      {{nav.item 'Avatars' 'docs.components.avatars'}}
      {{nav.item 'Icons' 'docs.components.icons'}}
      <del>{{nav.item 'Subheaders' 'docs.components'}}</del>
      {{nav.item 'Menus' 'docs.components.menus'}}
      <del>{{nav.item 'Pagination' 'docs.components'}}</del>
      <del>{{nav.item 'Tooltips' 'docs.components'}}</del>
      {{nav.item 'Preamble' 'docs.components.preamble'}}
    {{/nav.subnav}}
    {{nav.item 'Layout' 'docs.layout.index'}}
    {{#nav.subnav as |nav|}}
      {{nav.item 'App' 'docs.layout.app'}}
      {{nav.item 'Window' 'docs.layout.window'}}
      {{nav.item 'Pane' 'docs.layout.pane'}}
      {{nav.item 'Navbar' 'docs.layout.navbar'}}
      {{nav.item 'Navigation' 'docs.layout.navs'}}
      {{nav.item 'Hero' 'docs.layout.hero'}}
      {{nav.item 'Toolbar' 'docs.layout.toolbar'}}
      {{nav.item 'Header' 'docs.layout.header'}}
    {{/nav.subnav}}
    {{nav.item 'Forms' 'docs.forms.index'}}
    {{#nav.subnav as |nav|}}
      {{nav.item 'Buttons' 'docs.forms.buttons'}}
      {{nav.item 'Button Links' 'docs.forms.button-links'}}
      {{nav.item 'Button Groups' 'docs.forms.button-groups'}}
      {{nav.item 'Controls' 'docs.forms.controls'}}
      {{nav.item 'Inputs' 'docs.forms.inputs'}}
      {{nav.item 'Date & Time Inputs' 'docs.forms.date-time-inputs'}}
      {{nav.item 'Textareas' 'docs.forms.textareas'}}
      {{nav.item 'Dropdowns' 'docs.forms.dropdowns'}}
      {{nav.item 'Toggle Controls' 'docs.forms.toggles'}}
      {{nav.item 'Validation' 'docs.forms.validation'}}
      {{nav.item 'Control Rows' 'docs.forms.rows'}}
      <del>{{nav.item 'Fieldsets' 'docs.forms.fieldsets'}}</del>
    {{/nav.subnav}}
    {{nav.item 'Demo App' 'app'}}
 {{/viewer.nav}}

 {{#viewer.main}}
   <div class="docs-container docs__center">
     <div class="docs-section">
       {{outlet}}
     </div>
   </div>
 {{/viewer.main}}

{{/docs-viewer}}

{{docs-keyboard-shortcuts}}
