{{#docs-viewer as |viewer|}}

 {{#viewer.nav as |nav|}}
    {{nav.item 'Introduction' 'docs.index'}}
    {{nav.item 'Patterns' 'docs.patterns'}}
    {{nav.item 'Quickstart' 'docs.quickstart'}}
    <del>{{nav.item 'Forms' 'docs.forms.index'}}</del>
    {{#nav.subnav as |nav|}}
      {{nav.item 'Buttons' 'docs.forms.buttons'}}
      {{nav.item 'Button Links' 'docs.forms.button-links'}}
      <del>{{nav.item 'Input Controls' 'docs.forms.input-controls'}}</del>
      <del>{{nav.item 'Dropdown Controls' 'docs.forms.dropdown-controls'}}</del>
      <del>{{nav.item 'Toggle Controls' 'docs.forms.toggles'}}</del>
      <del>{{nav.item 'Validation' 'docs.forms.validation'}}</del>
      <del>{{nav.item 'Fieldsets' 'docs.forms.fieldsets'}}</del>
    {{/nav.subnav}}
 {{/viewer.nav}}

 {{#viewer.main}}
   <div class="docs-container docs__center">
     <div class="docs-section">
       {{outlet}}
     </div>
   </div>
 {{/viewer.main}}

{{/docs-viewer}}
