<div class="uxs">
  <div class="p-2" id="form">

    {{#uxs-form style="filled" class="mb-4" as |form|}}

      {{#form.control
        name="email"
      as |control|
      }}
        {{control.label "Email"}}
        {{control.input value=email}}
        {{control.tip "Please enter your email address"}}
      {{/form.control}}

      {{uxs-button "Submit" color="accent" type="submit"}}

    {{/uxs-form}}

    {{#uxs-form style="outlined" class="mb-4" as |form|}}

      {{#form.control
        name="email"
      as |control|
      }}
        {{control.label "Email"}}
        {{control.input value=email}}
        {{control.tip "Please enter your email address"}}
      {{/form.control}}

      {{uxs-button "Submit" color="accent" type="submit"}}

    {{/uxs-form}}

  </div>
  {{!--
  <div class="p-2" id="border-padding">

    <div class="fx-row fx-ai-start mb">
      <div class="p b-1 w-4 bg-light bc-primary mr"></div>
      <div class="p b-2 w-4 bg-light bc-primary mr"></div>
      <div class="p b-4 w-4 bg-light bc-primary mr"></div>
      <div class="p b-8 w-4 bg-light bc-primary mr"></div>
      <div class="p bv-1 w-4 bg-light bc-primary mr"></div>
      <div class="p bv-2 w-4 bg-light bc-primary mr"></div>
      <div class="p bv-4 w-4 bg-light bc-primary mr"></div>
      <div class="p bv-8 w-4 bg-light bc-primary mr"></div>
      <div class="p bt-1 w-4 bg-light bc-primary mr"></div>
      <div class="p bt-2 w-4 bg-light bc-primary mr"></div>
      <div class="p bt-4 w-4 bg-light bc-primary mr"></div>
      <div class="p bt-8 w-4 bg-light bc-primary mr"></div>
      <div class="p bb-1 w-4 bg-light bc-primary mr"></div>
      <div class="p bb-2 w-4 bg-light bc-primary mr"></div>
      <div class="p bb-4 w-4 bg-light bc-primary mr"></div>
      <div class="p bb-8 w-4 bg-light bc-primary mr"></div>
    </div>

    <div class="fx-row fx-ai-start mb">
      <div class="pv b-1 w-4 bg-light bc-primary mr"></div>
      <div class="pv b-2 w-4 bg-light bc-primary mr"></div>
      <div class="pv b-4 w-4 bg-light bc-primary mr"></div>
      <div class="pv b-8 w-4 bg-light bc-primary mr"></div>
      <div class="pv bv-1 w-4 bg-light bc-primary mr"></div>
      <div class="pv bv-2 w-4 bg-light bc-primary mr"></div>
      <div class="pv bv-4 w-4 bg-light bc-primary mr"></div>
      <div class="pv bv-8 w-4 bg-light bc-primary mr"></div>
      <div class="pv bt-1 w-4 bg-light bc-primary mr"></div>
      <div class="pv bt-2 w-4 bg-light bc-primary mr"></div>
      <div class="pv bt-4 w-4 bg-light bc-primary mr"></div>
      <div class="pv bt-8 w-4 bg-light bc-primary mr"></div>
      <div class="pv bb-1 w-4 bg-light bc-primary mr"></div>
      <div class="pv bb-2 w-4 bg-light bc-primary mr"></div>
      <div class="pv bb-4 w-4 bg-light bc-primary mr"></div>
      <div class="pv bb-8 w-4 bg-light bc-primary mr"></div>
    </div>

    <div class="fx-row fx-ai-start mb">
      <div class="pt-2 b-1 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 b-2 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 b-4 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 b-8 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bv-1 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bv-2 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bv-4 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bv-8 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bt-1 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bt-2 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bt-4 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bt-8 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bb-1 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bb-2 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bb-4 w-4 bg-light bc-primary mr"></div>
      <div class="pt-2 bb-8 w-4 bg-light bc-primary mr"></div>
    </div>

    <div class="fx-row fx-ai-start mb">
      <div class="p-2 b-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 b-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 b-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 b-8 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bv-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bv-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bv-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bv-8 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bt-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bt-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bt-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bt-8 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bb-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bb-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bb-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-2 bb-8 w-4 bg-light bc-primary mr"></div>
    </div>

    <div class="fx-row fx-ai-start mb">
      <div class="p-3 b-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 b-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 b-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 b-8 w-4 bg-light bc-primary mr"></div>

      <div class="p-3 bv-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 bv-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 bv-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 bv-8 w-4 bg-light bc-primary mr"></div>

      <div class="p-3 bt-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 bt-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 bt-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 bt-8 w-4 bg-light bc-primary mr"></div>

      <div class="p-3 bb-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 bb-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 bb-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-3 bb-8 w-4 bg-light bc-primary mr"></div>
    </div>

    <div class="fx-row fx-ai-start mb">
      <div class="p-4 b-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 b-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 b-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 b-8 w-4 bg-light bc-primary mr"></div>

      <div class="p-4 bv-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 bv-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 bv-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 bv-8 w-4 bg-light bc-primary mr"></div>

      <div class="p-4 bt-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 bt-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 bt-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 bt-8 w-4 bg-light bc-primary mr"></div>

      <div class="p-4 bb-1 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 bb-2 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 bb-4 w-4 bg-light bc-primary mr"></div>
      <div class="p-4 bb-8 w-4 bg-light bc-primary mr"></div>
    </div>

  </div>

  <div class="p-2" id="typography">

    <a href="#typography">
      {{uxs-overline "Typography" class="mv-2"}}
    </a>

    <h1 class="t-headline-1 mb-1">H1 / Rubik Light 96/96</h1>
    <h2 class="t-headline-2 mb-1">H2 / Rubik Light 60/64</h2>
    <h3 class="t-headline-3 mb-1">H3 / Rubik Regular 48/56</h3>
    <h4 class="t-headline-4 mb-1">H4 / Rubik Regular 34/40</h4>
    <h5 class="t-headline-5 mb-1">H5 / Rubik Regular 24/32</h5>
    <h6 class="t-headline-6 mb-3">H6 / Rubik Medium 20/24</h6>

    <h2 class="t-subtitle-1 mb-1">Subtitle 1 / Rubik Regular 16/24</h2>
    <h2 class="t-subtitle-2 mb-3">Subtitle 2 / Rubik Medium 14/24</h2>

    <p class="t-body-1 mb-1">Body 1 / Rubik Regular 16/24</p>
    <p class="t-body-2 mb-3">Body 2 / Rubik Regular 14/24</p>

    <p class="t-button mb-1">Button / Rubik Medium 14/24</p>
    <p class="t-caption mb-1">Caption / Rubik Regular 12/16</p>
    <p class="t-overline mb-1">Overline / Rubik Regular 10/16</p>
  </div>

  <div class="p-2" id="type-components">

    <a href="#type-components">
      {{uxs-overline "Type Components" class="mv-2"}}
    </a>

    {{uxs-headline "Heading 1" 1 class="mb-1"}}
    {{uxs-headline "Heading 2" 2 class="mb-1"}}
    {{uxs-headline "Heading 3" 3 class="mb-1"}}
    {{uxs-headline "Heading 4" 4 class="mb-1"}}
    {{uxs-headline "Heading 5" 5 class="mb-1"}}
    {{uxs-headline "Heading 6" 6 class="mb-3"}}

    {{uxs-subtitle "Subtitle" 1 class="mb-1"}}
    {{uxs-subtitle "Subtitle" 2 class="mb-3"}}

    {{uxs-content "Ultrices tincidunt mi lectus condimentum nibh taciti enim magnis hac pharetra a cubilia auctor vestibulum sem suspendisse vestibulum. Velit parturient ac auctor parturient egestas faucibus parturient a dictumst ac nec augue nam ante auctor vestibulum nibh. Eu mi orci et est condimentum ultricies quisque erat a suspendisse maecenas ultricies elit blandit dolor rhoncus a adipiscing cursus blandit vestibulum proin pulvinar elementum fusce. Torquent a a dis eget in netus porttitor a tristique a parturient elit donec egestas et volutpat conubia cum phasellus orci molestie fermentum vestibulum nulla adipiscing. Quis urna habitasse mi ridiculus aliquam a fermentum nec fringilla amet risus a vestibulum condimentum primis habitant adipiscing nisi dapibus lacus vel nisi potenti a arcu posuere ut pharetra." 1}}

    {{uxs-content "Lectus ultricies cum a quis commodo massa a suspendisse mollis phasellus sociosqu auctor ante potenti taciti purus praesent id auctor tempor vivamus ullamcorper torquent eleifend justo ad gravida imperdiet. Suscipit duis hendrerit feugiat a vestibulum vulputate viverra class cras erat fames vestibulum faucibus a natoque nunc fusce iaculis phasellus a in mauris adipiscing adipiscing cum. Blandit a commodo platea ad natoque dapibus suspendisse nunc a vitae venenatis a mi venenatis pharetra tincidunt. Eu mus scelerisque curabitur sagittis euismod suspendisse dui venenatis malesuada et a scelerisque augue a facilisi a in pharetra platea dignissim vestibulum curabitur a nam nunc quisque viverra. Sapien risus quam vivamus volutpat a eu faucibus adipiscing iaculis vitae parturient fusce gravida leo est ullamcorper etiam a vestibulum at auctor ultrices libero a consectetur facilisis hendrerit sit habitasse. Adipiscing ultrices vitae et volutpat a ultrices mi a suspendisse vestibulum dictumst torquent habitant aptent faucibus parturient leo venenatis a augue." 1}}

    {{uxs-content "Viverra sodales a suspendisse placerat non volutpat vel quisque penatibus a platea massa lectus parturient proin congue adipiscing a adipiscing interdum porta leo leo quisque scelerisque massa habitant. Vulputate rutrum id ad sapien parturient scelerisque eros conubia a condimentum a a parturient non lobortis a feugiat eu vestibulum dis a massa volutpat torquent a ullamcorper mi. A arcu velit habitant aenean fusce torquent suspendisse mollis habitasse rhoncus ac enim velit fames a magna suscipit cras suscipit parturient blandit mus non adipiscing lectus blandit vulputate. Ullamcorper per ipsum ligula pretium eu duis condimentum ad id taciti leo condimentum eu ullamcorper mattis et rutrum fames." 1}}

    {{uxs-content "Primis hendrerit ante proin est convallis suspendisse vestibulum vestibulum mi congue ligula euismod non ac. Aliquam blandit mus integer felis dictumst aenean ipsum mollis non per a vestibulum nibh a a facilisis tristique a eget a potenti mauris at vestibulum mi ad ad. A mollis vestibulum luctus venenatis consectetur imperdiet sed praesent nullam praesent parturient a justo vestibulum potenti blandit a leo ut pharetra curae dictum ligula quam. Condimentum per luctus at venenatis interdum lorem elementum dictumst a vel nisi ullamcorper enim iaculis. Consectetur elit vestibulum a felis ultrices vivamus dolor mattis magna parturient tristique elit parturient parturient ornare mauris montes praesent eu morbi urna pulvinar suspendisse viverra. Parturient interdum parturient parturient luctus ullamcorper orci iaculis eros tortor fames suspendisse nulla maecenas etiam." 2}}

    {{uxs-content "Mi a faucibus tempor dui massa ornare aenean a ridiculus urna dictum vulputate dictumst condimentum sem parturient volutpat suscipit nam a. Non vestibulum viverra vestibulum iaculis bibendum velit in sociis proin nunc ad a congue ultricies. Vestibulum adipiscing et cubilia tincidunt vestibulum consectetur sociis quam vestibulum egestas neque tristique vulputate hac turpis consectetur suspendisse. A a quam sociis varius a duis sodales suspendisse a parturient a per ultrices tempor consectetur ultricies aenean gravida euismod hac diam parturient vehicula." 2}}

    {{uxs-content "Leo nisl parturient sociosqu nisl integer sed parturient velit a viverra fusce litora amet a purus leo adipiscing duis purus odio amet eleifend. Vel integer parturient quis malesuada tempus blandit consequat dolor consectetur a facilisi senectus lacinia donec metus ad parturient condimentum. Parturient vivamus a justo mus a sit himenaeos hendrerit nisi neque adipiscing montes ultricies vestibulum parturient. Ligula a eleifend suscipit lorem volutpat a elementum dapibus consectetur iaculis nec commodo tellus mi a. Natoque sagittis dis habitant elementum dui condimentum vulputate diam purus ad scelerisque suspendisse vestibulum sit tempor. Ullamcorper parturient maecenas a dictumst per a maecenas auctor vestibulum et elit a pharetra suscipit aenean in eleifend aliquam id a accumsan blandit parturient." 2}}

    {{uxs-caption "A Caption" class="mb-1"}}

    {{uxs-overline "Overline" class="mb-3"}}

  </div>

  <div class="p-2" id="text-component">

    <a href="#text-component">
      {{uxs-overline "Core Text Component" class="mv-2"}}

      {{uxs-text "Headline 1" type="headline-1"}}
      {{uxs-text "Headline 2" type="headline-2"}}
      {{uxs-text "Headline 3" type="headline-3"}}
      {{uxs-text "Headline 4" type="headline-4"}}
      {{uxs-text "Headline 5" type="headline-5"}}
      {{uxs-text "Headline 6" type="headline-6"}}

      {{uxs-text "Subtitle 1" type="subtitle-1"}}
      {{uxs-text "Subtitle 2" type="subtitle-2"}}

      {{uxs-text "Body 1" type="body-1"}}
      {{uxs-text "Body 2" type="body-2"}}

      {{uxs-text "Button" type="button"}}
      {{uxs-text "Caption" type="caption"}}
      {{uxs-text "Overline" type="overline"}}
    </a>

  </div>

  <div class="p-2" id="data-lists">

    <a href="#data-lists">
      {{uxs-overline "Data Lists" class="mv-2"}}
    </a>

    {{#uxs-data
      display="list"
      padded=false
      inset=false
    as |data|
    }}
      {{data.item "Label" "Value"}}
      {{data.item "Another Label" "Value with a tip" "Here's the tip"}}
      {{data.item "A Long Value" "Scelerisque sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis ut ultricies cursus ornare tempus.Nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit massa in cras ipsum et adipiscing.Sed parturient id aenean." "Here's a long tip nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit"}}
      {{#data.item as |item|}}
        {{item.label "Grouped Label"}}
        {{#item.group as |group|}}
          {{group.value "Value One"}}
          {{group.value "Value Two"}}
          {{group.value "Value Three"}}
        {{/item.group}}
        {{item.tip "Here's the tip"}}
      {{/data.item}}
      {{#data.item as |item|}}
        {{item.label "More Groups"}}
        {{#item.group as |group|}}
          {{group.value "Value One"}}
          {{group.value "Value Two sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis"}}
          {{group.value "Value Three"}}
        {{/item.group}}
        {{item.tip "Here's the tip"}}
      {{/data.item}}
    {{/uxs-data}}

  </div>

  <div class="p-2" id="lists">

    <a href="#lists">
      {{uxs-overline "Lists" class="mv-2"}}
    </a>

    {{#uxs-list as |list|}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatar "event_seat" icon=true}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Icon Avatar Item"}}
          {{item.meta "Meta info for an icon avatar list item"}}
          {{item.meta "More text..."}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatar "242k" text=true}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Icon Avatar Item"}}
          {{item.meta "Meta info for an icon avatar list item"}}
          {{item.meta "More text..."}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatar "https://i.pravatar.cc/216" image=true}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Image Avatar Item"}}
          {{item.meta "Meta info for an image avatar list item"}}
          {{item.meta "More text..."}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{#item.avatar as |avatar|}}
            {{avatar.large "17"}}
            {{avatar.small "weeks"}}
          {{/item.avatar}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Custom Avatar Item"}}
          {{item.meta "Meta info for a custom avatar list item"}}
          {{item.meta "More text..."}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

    {{/uxs-list}}

    {{#uxs-list as |list|}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatar "event_seat" icon=true size="medium"}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Icon Avatar Item"}}
          {{item.meta "Meta info for an icon avatar list item"}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatar "100k" text=true size="medium"}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Text Avatar Icon"}}
          {{item.meta "Meta info for a single line text avatar"}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatar "https://i.pravatar.cc/144" image=true size="medium"}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Image Avatar Item"}}
          {{item.meta "Meta info"}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

      {{#list.item as |item|}}
        {{#item.avatar size="medium" as |avatar|}}
          {{avatar.large "JW"}}
        {{/item.avatar}}
        {{#item.body}}
          {{item.title "List Title"}}
          {{item.meta "Meta info"}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}
    {{/uxs-list}}


    {{#uxs-list as |list|}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatar "event_seat" icon=true size="small"}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Icon Avatar Item"}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatar "8" text=true size="small"}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Text Avatar Item"}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatar "https://i.pravatar.cc/72" image=true size="small"}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "List Title"}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}

      {{#list.item as |item|}}
        {{#item.aside}}
          {{#item.avatar size="small" as |avatar|}}
            {{avatar.medium "X"}}
          {{/item.avatar}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "List Title"}}
        {{/item.body}}
        {{#item.aside}}
          {{item.meta "More"}}
        {{/item.aside}}
      {{/list.item}}
    {{/uxs-list}}

  </div>

  <div class="p-2" id="spacing">

    <a href="#spacing">
      {{uxs-overline "Spacing" class="mv-2"}}
    </a>

    <div class="w-0 h-0 bg-p mb-1"></div>
    <div class="w-½ h-½ bg-p mb-1"></div>
    <div class="w-1 h-1 bg-p mb-1"></div>
    <div class="w-2 h-2 bg-p mb-1"></div>
    <div class="w-4 h-4 bg-p mb-1"></div>
    <div class="w-8 h-8 bg-p mb-1"></div>

    <div class="w-0 h-0 mb-1 b bc-primary"></div>
    <div class="w-½ h-½ mb-1 b bc-primary"></div>
    <div class="w-1 h-1 mb-1 b bc-primary"></div>
    <div class="w-2 h-2 mb-1 b bc-primary"></div>
    <div class="w-4 h-4 mb-1 b bc-primary"></div>

    <div class="fx-column sm:fx-row">
      <div class="w-8 h-8 mr-1 bg-light b bc-primary"></div>
      <div class="w-8 h-8 mr-1 bg-light bh bc-primary"></div>
      <div class="w-8 h-8 mr-1 bg-light bv bc-primary"></div>
      <div class="w-8 h-8 mr-1 bg-light bt bc-primary"></div>
      <div class="w-8 h-8 mr-1 bg-light br bc-primary"></div>
      <div class="w-8 h-8 mr-1 bg-light bb bc-primary"></div>
      <div class="w-8 h-8 mr-1 bg-light bl bc-primary"></div>
    </div>

  </div>
   {{uxs-headline "Styleguide" class="ph-1"}}

        {{uxs-subheadline "List Data" class="ph-1"}}

        {{#uxs-data
          display="list"
          padded=false
          inset=true
        as |data|
        }}
          {{data.item "Label" "Value"}}
          {{data.item "Another Label" "Value with a tip" "Here's the tip"}}
          {{data.item "A Long Value" "Scelerisque sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis ut ultricies cursus ornare tempus.Nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit massa in cras ipsum et adipiscing.Sed parturient id aenean." "Here's a long tip nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit"}}
          {{#data.item as |item|}}
            {{item.label "Grouped Label"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
          {{#data.item as |item|}}
            {{item.label "More Groups"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
        {{/uxs-data}}

        {{uxs-subheadline "Inline Data"}}

        {{#uxs-data
          display="inline"
          padded=false
          inset=true
        as |data|
        }}
          {{data.item "Label" "Value"}}
          {{data.item "Another Label" "Value with a tip" "Here's the tip"}}
          {{data.item "A Long Value" "Scelerisque sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis ut ultricies cursus ornare tempus.Nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit massa in cras ipsum et adipiscing.Sed parturient id aenean." "Here's a long tip nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit"}}
          {{#data.item as |item|}}
            {{item.label "Grouped Label"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
          {{#data.item as |item|}}
            {{item.label "More Groups"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
        {{/uxs-data}}

        {{uxs-subheadline "Cell Data"}}

        {{#uxs-data
          display="cell"
          padded=false
          inset=true
        as |data|
        }}
          {{data.item "Label" "Value"}}
          {{data.item "Another Label" "Value with a tip" "Here's the tip"}}
          {{data.item "A Long Value" "Scelerisque sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis ut ultricies cursus ornare tempus.Nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit massa in cras ipsum et adipiscing.Sed parturient id aenean." "Here's a long tip nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit"}}
          {{#data.item as |item|}}
            {{item.label "Grouped Label"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
          {{#data.item as |item|}}
            {{item.label "More Groups"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
        {{/uxs-data}}

        {{uxs-subheadline "List Table"}}

        {{#uxs-data
          display="table"
          padded=false
          inset=true
        as |data|
        }}
          {{data.item "Label" "Value"}}
          {{data.item "Another Label" "Value with a tip" "Here's the tip"}}
          {{data.item "A Long Value" "Scelerisque sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis ut ultricies cursus ornare tempus.Nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit massa in cras ipsum et adipiscing.Sed parturient id aenean." "Here's a long tip nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit"}}
          {{#data.item as |item|}}
            {{item.label "Grouped Label"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
          {{#data.item as |item|}}
            {{item.label "More Groups"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
        {{/uxs-data}} --}}

</div>
