<div class="uxs">
  {{#uxs-app fixedNav=false}}

    {{#uxs-window as |window|}}
      {{#window.pane full=true padded=false}}

        {{uxs-heading "Styleguide"}}

        {{uxs-subheading "List Data"}}

        {{#uxs-data
          display="list"
          padded=false
          inset=true
        as |data|
        }}
          {{data.item "Label" "Value"}}
          {{data.item "Another Label" "Value with a tip" "Here's the tip"}}
          {{data.item "A Long Value" "Scelerisque sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis ut ultricies cursus ornare tempus.Nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit massa in cras ipsum et adipiscing.Sed parturient id aenean." "Here's a long tip nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit"}}
          {{#data.item as |item|}}
            {{item.label "Grouped Label"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
          {{#data.item as |item|}}
            {{item.label "More Groups"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
        {{/uxs-data}}

        {{!-- {{uxs-subheading "Inline Data"}}

        {{#uxs-data
          display="inline"
          padded=false
          inset=true
        as |data|
        }}
          {{data.item "Label" "Value"}}
          {{data.item "Another Label" "Value with a tip" "Here's the tip"}}
          {{data.item "A Long Value" "Scelerisque sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis ut ultricies cursus ornare tempus.Nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit massa in cras ipsum et adipiscing.Sed parturient id aenean." "Here's a long tip nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit"}}
          {{#data.item as |item|}}
            {{item.label "Grouped Label"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
          {{#data.item as |item|}}
            {{item.label "More Groups"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
        {{/uxs-data}}

        {{uxs-subheading "Cell Data"}}

        {{#uxs-data
          display="cell"
          padded=false
          inset=true
        as |data|
        }}
          {{data.item "Label" "Value"}}
          {{data.item "Another Label" "Value with a tip" "Here's the tip"}}
          {{data.item "A Long Value" "Scelerisque sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis ut ultricies cursus ornare tempus.Nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit massa in cras ipsum et adipiscing.Sed parturient id aenean." "Here's a long tip nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit"}}
          {{#data.item as |item|}}
            {{item.label "Grouped Label"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
          {{#data.item as |item|}}
            {{item.label "More Groups"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
        {{/uxs-data}}

        {{uxs-subheading "List Table"}}

        {{#uxs-data
          display="table"
          padded=false
          inset=true
        as |data|
        }}
          {{data.item "Label" "Value"}}
          {{data.item "Another Label" "Value with a tip" "Here's the tip"}}
          {{data.item "A Long Value" "Scelerisque sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis ut ultricies cursus ornare tempus.Nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit massa in cras ipsum et adipiscing.Sed parturient id aenean." "Here's a long tip nibh a venenatis tellus odio a cum vestibulum placerat id vestibulum mi parturient blandit"}}
          {{#data.item as |item|}}
            {{item.label "Grouped Label"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
          {{#data.item as |item|}}
            {{item.label "More Groups"}}
            {{#item.group as |group|}}
              {{group.value "Value One"}}
              {{group.value "Value Two sociosqu a mi donec sit ligula sit euismod parturient ipsum dictum facilisis"}}
              {{group.value "Value Three"}}
            {{/item.group}}
            {{item.tip "Here's the tip"}}
          {{/data.item}}
        {{/uxs-data}} --}}

      {{/window.pane}}
    {{/uxs-window}}

  {{/uxs-app}}
</div>
