{{#docs-demo as |demo|}}

  {{#demo.example name="drawer-bottom-demo.hbs" class="uxs"}}

    <div class="mobile">
      <div class="mobile__screen">

        <div class="uxs-overlay">

        </div>

        {{#uxs-drawer style="bottom" as |drawer|}}
          {{#drawer.header}}
            {{uxs-headline "Title" 6}}
            {{uxs-subtitle "subtext" 2}}
          {{/drawer.header}}
          {{drawer.divider}}
          {{#drawer.menu as |menu|}}
            {{menu.item "Home" class="active"}}
            {{menu.item "Account"}}
            {{menu.item "Logout"}}
          {{/drawer.menu}}
          <div class="mobile__spacer  mobile__spacer--bottom"></div>
        {{/uxs-drawer}}

      </div>

    </div>

  {{/demo.example}}

  {{demo.snippet "drawer-bottom-demo.hbs"}}

{{/docs-demo}}
