{{#docs-demo as |demo|}}

  {{#demo.example name="align-content.hbs"}}
    <div class="uxs">
      <div class="h-16 fx-row fx-w-wrap fx-ac-{{align}} bg-light pl-1 pt-1">
        <div class="w-1/3">
          <div class="bg-mid p-1 mr-1 mb-1 ta-c">1</div>
        </div>
        <div class="w-1/3">
          <div class="bg-mid p-1 mr-1 mb-1 ta-c">2</div>
        </div>
        <div class="w-1/3">
          <div class="bg-mid p-1 mr-1 mb-1 ta-c">3</div>
        </div>
        <div class="w-1/3">
          <div class="bg-mid p-1 mr-1 mb-1 ta-c">4</div>
        </div>
        <div class="w-1/3">
          <div class="bg-mid p-1 mr-1 mb-1 ta-c">5</div>
        </div>
      </div>
    </div>

  {{/demo.example}}

  {{#args-table "datalist-align-content" as |table|}}
    {{#table.row "layout" as |row|}}
      {{row.label "Align Content"}}
      {{row.input align options="align-contents"}}
      {{row.type "String"}}
    {{/table.row}}
  {{/args-table}}

  <datalist id="align-contents">
    <option value="start"/>
    <option value="center"/>
    <option value="end"/>
    <option value="between"/>
    <option value="around"/>
  </datalist>

  {{demo.snippet "align-content.hbs"}}
{{/docs-demo}}
