{{!-- template-lint-disable  --}}

{{#docs-demo as |demo|}}

  {{#demo.example name="divider-col-demo.hbs"}}

    <div class="uxs">
      <div class="fx-col pl-1 pt-1">
        {{uxs-subtitle "Some Subtitle"}}
        {{uxs-divider}}
        {{uxs-text "More content"}}
      </div>
    </div>

  {{/demo.example}}

  {{#demo.example name="divider-row-demo.hbs"}}
    <div class="uxs">
      <div class="fx-row pl-1 pt-1">
        {{uxs-text "Some content"}}
        {{uxs-divider orientation="vertical"}}
        {{uxs-text "More content"}}
      </div>
    </div>

  {{/demo.example}}

  {{demo.snippet "divider-col-demo.hbs"}}
  {{demo.snippet "divider-row-demo.hbs"}}

{{/docs-demo}}
