{{#docs-demo as |demo|}}

  {{#demo.example name="headline-type-demo.hbs"}}

    <div class="uxs">
      {{uxs-headline "Headline 1" 1 class="mb"}}
      {{uxs-headline "Headline 2" 2 class="mb"}}
      {{uxs-headline "Headline 3" 3 class="mb"}}
      {{uxs-headline "Headline 4" 4 class="mb"}}
      {{uxs-headline "Headline 5" 5 class="mb"}}
      {{uxs-headline "Headline 6" 6 class="mb"}}
    </div>

  {{/demo.example}}

  {{demo.snippet "headline-type-demo.hbs"}}

{{/docs-demo}}
