<h1>Avatars</h1>

<p>Avatars are used to display images of users or resources.</p>

<h2>Simple Usage</h2>

<p>Avatars come in different shapes & sizes.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="avatars"}}

    {{uxs-avatar
      "https://placeimg.com/100/100/people"
      size=size
      border=border
      round=round
    }}

  {{/demo.example}}

  {{demo.snippet "avatars.hbs"}}

{{/docs-demo}}

<h2>Properties</h2>

<p>Now explore the various properties available in this component:</p>

<table class="docs-args-table">
  <tbody>
    <tr>
      <td>size<span class="req">*</span></td>
      <td>{{input placeholder="Size" value=size}}</td>
      <td><em>String</em></td>
    </tr>
    <tr>
      <td colspan="3">Possible Values: small, medium, large, huge, giant</td>
    </tr>
    <tr>
      <td>round</td>
      <td>{{docs-toggle value=round}}</td>
      <td><em>Boolean</em></td>
    </tr>
    <tr>
      <td>border</td>
      <td>{{docs-toggle value=border}}</td>
      <td><em>Boolean</em></td>
    </tr>
  </tbody>
</table>

<h2>Styles Usage</h2>

<p>You can customise the look of your lists with the style attribute.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="avatar-styles" class="bg-dark"}}

    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=0" style="primary" round=true}}
      {{uxs-avatar-text "AA" style="primary" round=true}}
      {{uxs-avatar-icon "invert_colors" style="primary" round=true}}
    </div>
    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=1" style="accent" round=true}}
      {{uxs-avatar-text "BB" style="accent" round=true}}
      {{uxs-avatar-icon "invert_colors" style="accent" round=true}}
    </div>
    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=2" style="dark" round=true}}
      {{uxs-avatar-text "CC" style="dark" round=true}}
      {{uxs-avatar-icon "invert_colors" style="dark" round=true}}
    </div>
    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=3" style="grey" round=true}}
      {{uxs-avatar-text "DD" style="grey" round=true}}
      {{uxs-avatar-icon "invert_colors" style="grey" round=true}}
    </div>
    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=4" style="mid" round=true}}
      {{uxs-avatar-text "EE" style="mid" round=true}}
      {{uxs-avatar-icon "invert_colors" style="mid" round=true}}
    </div>
    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=5" style="light" round=true}}
      {{uxs-avatar-text "FF" style="light" round=true}}
      {{uxs-avatar-icon "invert_colors" style="light" round=true}}
    </div>
    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=6" style="white" round=true}}
      {{uxs-avatar-text "GG" style="white" round=true}}
      {{uxs-avatar-icon "invert_colors" style="white" round=true}}
    </div>
    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=7" style="success" round=true}}
      {{uxs-avatar-text "HH" style="success" round=true}}
      {{uxs-avatar-icon "invert_colors" style="success" round=true}}
    </div>
    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=8" style="warning" round=true}}
      {{uxs-avatar-text "II" style="warning" round=true}}
      {{uxs-avatar-icon "invert_colors" style="warning" round=true}}
    </div>
    <div class="f fr">
      {{uxs-avatar "http://api.faceholder.io/faces?id=9" style="error" round=true}}
      {{uxs-avatar-text "JJ" style="error" round=true}}
      {{uxs-avatar-icon "invert_colors" style="error" round=true}}
    </div>

  {{/demo.example}}

  {{demo.snippet "avatar-styles.hbs"}}

{{/docs-demo}}
