<h1>Datalist</h1>

<p>Datalist are used to display record details, think of them as readonly form controls.</p>

<h2>Simple Usage</h2>

{{#docs-demo as |demo|}}

  {{#demo.example name="datalists"}}

    {{#uxs-datalist bordered=true as |list|}}
      {{list.item label="Name" value="Frida Wardlaw"}}
      {{list.item label="GID" value="0123456789"}}
      {{list.item label="Job Title" value="Kid"}}
      {{list.item label="Email" value=null empty="No Email"}}
      {{list.item
        label="Last Login"
        value="20/01/18"
        tip="This is the last time the user accessed the system"
      }}
      {{list.item label="Nothing" value=null }}
    {{/uxs-datalist}}

  {{/demo.example}}

  {{demo.snippet "datalists.hbs"}}

{{/docs-demo}}


<h2>Styles Usage</h2>

<p>You can customise the look of your datalist with the style attribute.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="datalist-styles"}}

    <div class="p">
      {{#each darkStyles as |style|}}

        {{#uxs-datalist style=style bordered=true as |list|}}
          {{list.item label="Style" value=(capitalize style)}}
        {{/uxs-datalist}}

      {{/each}}
    </div>
    <div class="bg-dark p">
      {{#each lightStyles as |style|}}
        {{#uxs-datalist style=style bordered=true as |list|}}
          {{list.item label="Style" value=(capitalize style)}}
        {{/uxs-datalist}}
      {{/each}}
    </div>

  {{/demo.example}}

  {{demo.snippet "datalist-styles.hbs"}}

{{/docs-demo}}
