<h1>Icons</h1>

<p>The icon component is used to render icons from the <a href="https://material.io/icons/">Material Icons</a> font library.</p>

<h2>Simple Usage</h2>

<p>Let's look at a basic example of a name control where you require two inputs to sit alongside each other</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="icons"}}

    {{uxs-icon "check_circle" style=style size=size disabled=disabled}}
    {{uxs-icon "face" style="primary" size=size disabled=disabled}}
    {{uxs-icon "account_balance"  style="accent" size=size disabled=disabled}}
    {{uxs-icon "done" style="success" size=size disabled=disabled}}
    {{uxs-icon "check_circle" style="warning" size=size disabled=disabled}}
    {{uxs-icon "face" style="error" size=size disabled=disabled}}
    {{uxs-icon "account_balance"  style="black" size=size disabled=disabled}}
    {{uxs-icon "done" style="white" size=size disabled=disabled}}
    {{uxs-icon "check_circle" style="grey" size=size disabled=disabled}}

  {{/demo.example}}

  {{demo.snippet "icons.hbs"}}

{{/docs-demo}}

<h2>Properties</h2>

<p>Now explore the various properties available in this component:</p>

<table class="docs-args-table">
  <tbody>
    <tr>
      <td>icon<span class="req">*</span></td>
      <td>{{input placeholder="Icon" value=icon}}</td>
      <td><em>String</em></td>
    </tr>
    <tr>
      <td>style</td>
      <td>{{input placeholder="Style" value=style}}</td>
      <td><em>String</em></td>
    </tr>
    <tr>
      <td>size</td>
      <td>{{input placeholder="Size" value=size}}</td>
      <td><em>String</em></td>
    </tr>
    <tr>
      <td>disabled</td>
      <td>{{docs-toggle value=disabled}}</td>
      <td><em>Boolean</em></td>
    </tr>
  </tbody>
</table>

<h2>Icons Sizes</h2>

<p>Icons are available in a variaty of sizes. Note: when inlining icons with text set the <em>inline</em> attribute to true to float the element.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="icon-sizes" class="bg-light"}}

    {{#uxs-text size="tiny" style=style}}
      {{uxs-icon "check_circle" style=style size="tiny" inline=true}}
      Tiny
    {{/uxs-text}}

    {{#uxs-text size="small" style=style}}
      {{uxs-icon "check_circle" style=style size="small" inline=true}}
      Small
    {{/uxs-text}}

    {{#uxs-text size="medium" style=style}}
      {{uxs-icon "check_circle" style=style size="medium" inline=true}}
       Medium
    {{/uxs-text}}

    {{#uxs-text size="large" style=style}}
      {{uxs-icon "check_circle" style=style size="large" inline=true}}
      Large
    {{/uxs-text}}

    {{#uxs-text size="huge" style=style}}
      {{uxs-icon "check_circle" style=style size="huge" inline=true}}
      Huge
    {{/uxs-text}}

    {{#uxs-text size="giant" style=style}}
      {{uxs-icon "check_circle" style=style size="giant" inline=true}}
      Giant
    {{/uxs-text}}

  {{/demo.example}}

  {{demo.snippet "icon-sizes.hbs"}}

{{/docs-demo}}


<h2>Action Usage</h2>

<p>You can pass action closures to icons</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="icon-actions"}}

    {{uxs-icon "done" onClick=(action "save" "done")}}

  {{/demo.example}}

  {{demo.snippet "icon-actions.hbs"}}
  {{demo.snippet "icon-actions.js"}}

{{/docs-demo}}
