<h1>Lists</h1>

<p>Lists are used to display collections of records.</p>

<h2>Simple Usage</h2>

<p>This is a simple list containing just a title for each item.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="lists"}}

    {{#uxs-list as |list|}}
      {{#each items as |thing|}}
        {{#list.item as |item|}}
          {{item.title thing.title}}
        {{/list.item}}
      {{/each}}
    {{/uxs-list}}

  {{/demo.example}}

  {{demo.snippet "lists.hbs"}}

{{/docs-demo}}

<h2>Adding more content</h2>

<p>This is a list contains some meta data and includes a bottom border. By defining the lines & border property on the list component, these properties are passed to each item and will set the height and bottom-border.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="bordered-list"}}

    {{#uxs-list lines=2 bordered=true as |list|}}
      {{#each items as |thing|}}
        {{#list.item as |item|}}
          {{#item.content}}
            {{item.title thing.title}}
            {{item.content thing.location}}
          {{/item.content}}
        {{/list.item}}
      {{/each}}
    {{/uxs-list}}

  {{/demo.example}}

  {{demo.snippet "bordered-list.hbs"}}

{{/docs-demo}}

<h2>Avatars and Actions</h2>

<p>This is a list that includes some horizontal layout for the avatar and item. We use the aside and body contextual components to split up each items layout.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="action-list"}}

    {{#uxs-list lines=3 bordered=true as |list|}}
      {{#each items as |thing|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatar "https://placeimg.com/100/100/any" round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title thing.title}}
            {{item.detail thing.location}}
            {{item.detail thing.email}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "keyboard_arrow_right"}}
          {{/item.aside}}
        {{/list.item}}
      {{/each}}
    {{/uxs-list}}

  {{/demo.example}}

  {{demo.snippet "action-list.hbs"}}

{{/docs-demo}}

<h2>Icon Avatars</h2>

<p>You can use icons for the list items avatar.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="icon-avatar-list"}}

    {{#uxs-list lines=3 bordered=true as |list|}}
      {{#each items as |thing|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarIcon "face" round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title thing.title}}
            {{item.detail thing.location}}
            {{item.detail thing.email}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "keyboard_arrow_right"}}
          {{/item.aside}}
        {{/list.item}}
      {{/each}}
    {{/uxs-list}}

  {{/demo.example}}

  {{demo.snippet "icon-avatar-list.hbs"}}

{{/docs-demo}}


<h2>Text Avatars</h2>

<p>You can use text for the list items avatar too.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="icon-avatar-list"}}

    {{#uxs-list lines=3 bordered=true as |list|}}
      {{#each items as |thing|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText thing.count round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title thing.title}}
            {{item.detail thing.location}}
            {{item.detail thing.email}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "keyboard_arrow_right"}}
          {{/item.aside}}
        {{/list.item}}
      {{/each}}
    {{/uxs-list}}

  {{/demo.example}}

  {{demo.snippet "icon-avatar-list.hbs"}}

{{/docs-demo}}

<h2>Styles Usage</h2>

<p>You can customise the look of your lists with the style attribute.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="lists-styles" class="bg-dark"}}

    {{#uxs-list style="primary" lines=3 bordered=true as |list|}}
      {{#list.item as |item|}}
        {{#item.aside}}
          {{item.avatarText 1 round=true}}
        {{/item.aside}}
        {{#item.body}}
          {{item.title "Primary List"}}
          {{item.detail "foo"}}
          {{item.detail "bar"}}
        {{/item.body}}
        {{#item.aside}}
          {{item.action "invert_colors"}}
        {{/item.aside}}
      {{/list.item}}
    {{/uxs-list}}

    {{#uxs-list style="accent" lines=3 bordered=true as |list|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText 2 round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title "Accent List"}}
            {{item.detail "foo"}}
            {{item.detail "bar"}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "invert_colors"}}
          {{/item.aside}}
        {{/list.item}}
    {{/uxs-list}}

    {{#uxs-list style="dark" lines=3 bordered=true as |list|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText 2 round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title "Dark List"}}
            {{item.detail "foo"}}
            {{item.detail "bar"}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "invert_colors"}}
          {{/item.aside}}
        {{/list.item}}
    {{/uxs-list}}

    {{#uxs-list style="grey" lines=3 bordered=true as |list|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText 2 round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title "Grey List"}}
            {{item.detail "foo"}}
            {{item.detail "bar"}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "invert_colors"}}
          {{/item.aside}}
        {{/list.item}}
    {{/uxs-list}}

    {{#uxs-list style="mid" lines=3 bordered=true as |list|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText 2 round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title "Mid List"}}
            {{item.detail "foo"}}
            {{item.detail "bar"}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "invert_colors"}}
          {{/item.aside}}
        {{/list.item}}
    {{/uxs-list}}

    {{#uxs-list style="light" lines=3 bordered=true as |list|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText 2 round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title "Light List"}}
            {{item.detail "foo"}}
            {{item.detail "bar"}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "invert_colors"}}
          {{/item.aside}}
        {{/list.item}}
    {{/uxs-list}}

    {{#uxs-list style="white" lines=3 bordered=true as |list|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText 2 round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title "White List"}}
            {{item.detail "foo"}}
            {{item.detail "bar"}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "invert_colors"}}
          {{/item.aside}}
        {{/list.item}}
    {{/uxs-list}}

    {{#uxs-list style="success" lines=3 bordered=true as |list|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText 2 round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title "Success List"}}
            {{item.detail "foo"}}
            {{item.detail "bar"}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "invert_colors"}}
          {{/item.aside}}
        {{/list.item}}
    {{/uxs-list}}

    {{#uxs-list style="warning" lines=3 bordered=true as |list|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText 2 round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title "Warning List"}}
            {{item.detail "foo"}}
            {{item.detail "bar"}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "invert_colors"}}
          {{/item.aside}}
        {{/list.item}}
    {{/uxs-list}}

    {{#uxs-list style="error" lines=3 bordered=true as |list|}}
        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatarText 2 round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title "Error List"}}
            {{item.detail "foo"}}
            {{item.detail "bar"}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "invert_colors"}}
          {{/item.aside}}
        {{/list.item}}
    {{/uxs-list}}

  {{/demo.example}}

  {{demo.snippet "lists-styles.hbs"}}

{{/docs-demo}}

<h2>List Subheadings</h2>

<p>Often you'll want to break up list items into sections using subheadings. The uxs-list-subheading component will only render if the subheading has changed from the item before. Use it in conjunction with an ordered response</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="list-subheadings"}}

    {{#uxs-list lines=3 bordered=true as |list|}}

      {{#each items as |thing|}}

        {{list.subheading thing.location}}

        {{#list.item as |item|}}
          {{#item.aside}}
            {{item.avatar "https://placeimg.com/100/100/any" round=true}}
          {{/item.aside}}
          {{#item.body}}
            {{item.title thing.title}}
            {{item.detail thing.location}}
            {{item.detail thing.email}}
          {{/item.body}}
          {{#item.aside}}
            {{item.action "keyboard_arrow_right"}}
          {{/item.aside}}
        {{/list.item}}

      {{/each}}
    {{/uxs-list}}

  {{/demo.example}}

  {{demo.snippet "list-subheadings.hbs"}}

{{/docs-demo}}

<h2>Contextual Components</h2>

<p>The <b>List</b> component has the following child components:</p>

<table class="docs-args-table">
  <tr>
    <td>item</td>
    <td>Alias of uxs-list-item</td>
  </tr>
</table>

<p>The <b>List Item</b> component has the following child components:</p>

<table class="docs-args-table">
  <tr>
    <td>aside</td>
    <td>Alias of uxs-div, used to seperate horizontal layout blocks</td>
  </tr>
  <tr>
    <td>body</td>
    <td>Alias of uxs-div, used to seperate horizontal layout blocks, unlike aside, this component will grow to fill the available width</td>
  </tr>
  <tr>
    <td>title</td>
    <td>Alias of {{link-to "uxs-subheading" "docs.typography.index"}}</td>
  </tr>
  <tr>
    <td>content</td>
    <td>Alias of {{link-to "uxs-content" "docs.typography.index"}}</td>
  </tr>
  <tr>
    <td>detail</td>
    <td>Alias of {{link-to "uxs-detail" "docs.typography.index"}}</td>
  </tr>
  <tr>
    <td>avatar</td>
    <td>Alias of {{link-to "uxs-avatar" "docs.components.avatars"}}</td>
  </tr>
  <tr>
    <td>action</td>
    <td>Alias of {{link-to "uxs-icon" "docs.components.icons"}}</td>
  </tr>
</table>
