<h1>Menus</h1>

<h2>Simple Usage</h2>

<p>This is a simple menu with a button trigger.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="button-menus"}}

    {{#basic-dropdown as |dropdown|}}
      {{#dropdown.trigger}}
        {{uxs-button "Click Me"}}
      {{/dropdown.trigger}}
      {{#dropdown.content class="uxs-ns"}}
        {{#uxs-menu as |menu|}}
          {{#menu.item}}Normal nav item{{/menu.item}}
          {{#menu.item}}And another{{/menu.item}}
          {{menu.separator}}
          {{#menu.link "docs.index"}}This one is a link{{/menu.link}}
        {{/uxs-menu}}
      {{/dropdown.content}}
    {{/basic-dropdown}}

  {{/demo.example}}

  {{demo.snippet "button-menus.hbs"}}

{{/docs-demo}}


<h2>Simple Usage</h2>

<p>This is a menu with an icon trigger.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="button-menus"}}

    {{#basic-dropdown as |dropdown|}}
      {{#dropdown.trigger}}
        {{uxs-icon "filter_list"}}
      {{/dropdown.trigger}}
      {{#dropdown.content class="uxs-ns"}}
        {{#uxs-menu as |menu|}}
          {{#menu.item}}Normal nav item{{/menu.item}}
          {{#menu.item}}And another{{/menu.item}}
          {{menu.separator}}
          {{#menu.link "docs.index"}}This one is a link{{/menu.link}}
        {{/uxs-menu}}
      {{/dropdown.content}}
    {{/basic-dropdown}}

  {{/demo.example}}

  {{demo.snippet "button-menus.hbs"}}

{{/docs-demo}}
