<h1>Notice</h1>

<p>This component can be used to display notices to the use in a variaty of styles...</p>

<h2>Simple Usage</h2>

<p>Let's look at a basic example of a notice.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="notice"}}

    {{uxs-notice text style=style truncated=truncated}}
    {{uxs-notice "This is a primary notice" style="primary" truncated=truncated}}
    {{uxs-notice "This is a error notice" style="error" truncated=truncated}}
    {{uxs-notice "This is a warning notice" style="warning" truncated=truncated}}
    {{uxs-notice "This is a accent notice" style="accent" truncated=truncated}}
    {{uxs-notice
      "This is a very very very long notice and the text will be truncated if it exceeds the sixty character length"
      style=style
      truncated=truncated
    }}

  {{/demo.example}}

  {{demo.snippet "notice.hbs"}}

{{/docs-demo}}

<h2>Properties</h2>

<p>Now explore the various properties available in this component:</p>

<table class="docs-args-table">
  <tbody>
    <tr>
      <td>text<span class="req">*</span></td>
      <td>{{input placeholder="Pill Text" value=text}}</td>
      <td><em>String</em></td>
    </tr>
    <tr>
      <td>style</td>
      <td>{{input placeholder="Style" value=style}}</td>
      <td><em>String</em></td>
    </tr>
    <tr>
      <td>truncated</td>
      <td>{{docs-toggle value=truncated}}</td>
      <td><em>Boolean</em></td>
    </tr>
  </tbody>
</table>

<h2>Usage with Icons</h2>

<p>You can also intergrate icons in a notice.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="notice"}}

    {{#uxs-notice style="primary" truncated=truncated as |notice|}}
      {{notice.icon "info" prefix=true}}
      {{notice.text "This notice has a prefix icon"}}
    {{/uxs-notice}}

    {{#uxs-notice style="accent" truncated=truncated as |notice|}}
      {{notice.text "This notice has a suffix icon"}}
      {{notice.icon "cancel" suffix=true}}
    {{/uxs-notice}}

    {{#uxs-notice style="warning" truncated=truncated as |notice|}}
      {{notice.icon "warning" prefix=true}}
      {{notice.text "This notice has two icons"}}
      {{notice.icon "cancel" suffix=true}}
    {{/uxs-notice}}

    {{#uxs-notice style="error" truncated=truncated as |notice|}}
      {{notice.icon "warning" prefix=true}}
      {{notice.text
        "This notice has an icon but also a long passage of text that may or may not be truncated."
      }}
      {{notice.icon "cancel" suffix=true}}
    {{/uxs-notice}}

  {{/demo.example}}

  {{demo.snippet "notice.hbs"}}

{{/docs-demo}}

<h2>Usage with Links</h2>

<p>Links & buttons can be included in a notice.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="notice"}}

    {{#uxs-notice style="primary" truncated=truncated as |notice|}}
      {{notice.link "home" "docs"}}
      {{notice.text "This notice has a prefix link"}}
    {{/uxs-notice}}

    {{#uxs-notice style="accent" truncated=truncated as |notice|}}
      {{notice.text "This notice has a suffix button"}}
      {{notice.button "close"}}
    {{/uxs-notice}}

  {{/demo.example}}

  {{demo.snippet "notice.hbs"}}

{{/docs-demo}}
