<h1>Pagination</h1>

<p>The pagination component provides control for a paginated json api response.</p>

<h2>Simple Usage</h2>

<p>This example calls a controller action with the current page size and results.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="pagination"}}

    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
    }}

  {{/demo.example}}

  {{demo.snippet "pagination.hbs"}}
  {{demo.snippet "pagination.js"}}

{{/docs-demo}}

<h2>Styles Usage</h2>

<p>You can customise the look of your toolbar with the style attribute.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="pagination-styles"}}

    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="primary"
    }}
    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="accent"
    }}
    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="dark"
    }}
    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="grey"
    }}
    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="mid"
    }}
    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="light"
    }}
    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="white"
    }}
    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="success"
    }}
    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="warning"
    }}
    {{uxs-pagination-controls
      size=25
      page=2
      total=250
      onChange=(action "paginateResults")
      style="error"
    }}

  {{/demo.example}}

  {{demo.snippet "pagination-styles.hbs"}}

{{/docs-demo}}
