<h1>Pills</h1>

<p>Pills are comenly used to display tags or inline statuses. They are usually colored to reflect their content.</p>

<h2>Simple Usage</h2>

<p>Let's look at a basic example of a pill.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="pill" class="uxs"}}

    {{#uxs-div class="clear"}}
      {{uxs-pill text style=style size=size rounded=rounded}}
      {{uxs-pill "primary" style="primary" size=size rounded=rounded}}
      {{uxs-pill "accent" style="accent" size=size rounded=rounded}}
      {{uxs-pill "warning" style="warning" size=size rounded=rounded}}
      {{uxs-pill "error" style="error" size=size rounded=rounded}}
    {{/uxs-div}}

  {{/demo.example}}

  {{demo.snippet "pill.hbs"}}

{{/docs-demo}}

<h2>Properties</h2>

<p>Now explore the various properties available in this component:</p>

<table class="docs-args-table">
  <tr>
    <td>text<span class="req">*</span></td>
    <td>{{input placeholder="Pill Text" value=text}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>style</td>
    <td>{{input placeholder="Style" value=style}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>size</td>
    <td>{{input placeholder="Size" value=size}}</td>
    <td><em>String</em></td>
  </tr>
  <tr>
    <td>rounded</td>
    <td>{{docs-toggle value=rounded}}</td>
    <td><em>Boolean</em></td>
  </tr>
</table>


<h2>Pill Sizes</h2>

<p>Pills are available in a variaty of sizes.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="icon-sizes" class="bg-light"}}

    {{#uxs-text size="tiny" style=style}}
      {{uxs-pill "primary" style="primary" size="tiny"}}
      Tiny
    {{/uxs-text}}

    {{#uxs-text size="small" style=style}}
      {{uxs-pill "accent" style="accent" size="small"}}
      Small
    {{/uxs-text}}

    {{#uxs-text size="medium" style=style}}
      {{uxs-pill "warning" style="warning" size="medium"}}
       Medium
    {{/uxs-text}}

    {{#uxs-text size="large" style=style}}
      {{uxs-pill "error" style="error" size="large"}}
      Large
    {{/uxs-text}}

    {{#uxs-text size="huge" style=style}}
      {{uxs-pill "dark" style="dark" size="huge"}}
      Huge
    {{/uxs-text}}

    {{#uxs-text size="giant" style=style}}
      {{uxs-pill "grey" style="grey" size="giant"}}
      Giant
    {{/uxs-text}}

  {{/demo.example}}

  {{demo.snippet "icons.hbs"}}

{{/docs-demo}}

<h2>Pills With Icons</h2>

<p>Add icons to your pills.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="icon-pills" class="uxs"}}

    {{#uxs-div class="clear"}}

      {{uxs-pill
        "primary"
        style="primary"
        size=size
        rounded=rounded
        prefixIcon="check_circle"
      }}

      {{uxs-pill
        "accent"
        style="accent"
        size=size
        rounded=rounded
        suffixIcon="account_circle"
      }}
      {{uxs-pill
        "warning"
        style="warning"
        size=size
        rounded=rounded
        prefixIcon="add_circle"
        suffixIcon="remove_circle"
      }}
      {{uxs-pill
        "error"
        style="error"
        size=size
        rounded=rounded
      }}
    {{/uxs-div}}

  {{/demo.example}}

  {{demo.snippet "icon-pills.hbs"}}

{{/docs-demo}}
