<h1>Preamble</h1>

<p>This component can be used to display some key info to a user before the main content is displayed.</p>

<h2>Simple Usage</h2>

<p>Let's look at a basic example with an icon and text message.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="preamble"}}

    {{#uxs-preamble style=style class="mb" as |pre|}}
      {{pre.icon "date_range" prefix=true}}
      {{pre.content
        "This is a default preamble. Cursus venenatis enim adipiscing primis laoreet eros curae odio primis nisl a a ad euismod id adipiscing a torquent augue parturient aptent rhoncus parturient a aptent."
      }}
    {{/uxs-preamble}}

    {{#uxs-preamble style="primary" class="mb" as |pre|}}
      {{pre.icon "date_range" prefix=true}}
      {{pre.content
        "This is a primary preamble. Cursus venenatis enim adipiscing primis laoreet eros curae odio primis nisl a a ad euismod id adipiscing a torquent augue parturient aptent rhoncus parturient a aptent."
      }}
    {{/uxs-preamble}}

    {{#uxs-preamble style="accent" class="mb" as |pre|}}
      {{pre.icon "date_range" prefix=true}}
      {{pre.content
        "This is a accent preamble. Cursus venenatis enim adipiscing primis laoreet eros curae odio primis nisl a a ad euismod id adipiscing a torquent augue parturient aptent rhoncus parturient a aptent."
      }}
    {{/uxs-preamble}}

    {{#uxs-preamble style="warning" class="mb" as |pre|}}
      {{pre.icon "date_range" prefix=true}}
      {{pre.content
        "This is a warning preamble. Cursus venenatis enim adipiscing primis laoreet eros curae odio primis nisl a a ad euismod id adipiscing a torquent augue parturient aptent rhoncus parturient a aptent."
      }}
    {{/uxs-preamble}}

    {{#uxs-preamble style="error" class="mb" as |pre|}}
      {{pre.icon "date_range" prefix=true}}
      {{pre.content
        "This is a error preamble. Cursus venenatis enim adipiscing primis laoreet eros curae odio primis nisl a a ad euismod id adipiscing a torquent augue parturient aptent rhoncus parturient a aptent."
      }}
    {{/uxs-preamble}}

    {{#uxs-preamble style="white" class="mb" as |pre|}}
      {{pre.icon "date_range" prefix=true}}
      {{pre.content
        "This is a white preamble. Cursus venenatis enim adipiscing primis laoreet eros curae odio primis nisl a a ad euismod id adipiscing a torquent augue parturient aptent rhoncus parturient a aptent."
      }}
    {{/uxs-preamble}}

    {{#uxs-preamble style="dark" class="mb" as |pre|}}
      {{pre.icon "date_range" prefix=true}}
      {{pre.content
        "This is a dark preamble. Cursus venenatis enim adipiscing primis laoreet eros curae odio primis nisl a a ad euismod id adipiscing a torquent augue parturient aptent rhoncus parturient a aptent."
      }}
    {{/uxs-preamble}}

  {{/demo.example}}

  {{demo.snippet "preamble.hbs"}}

{{/docs-demo}}

<h2>Custom Usage</h2>

<p>Let's look at a basic example with an icon and text message.</p>

{{#docs-demo as |demo|}}

  {{#demo.example name="custom-preamble"}}

    {{#uxs-preamble style=style class="mb" as |pre|}}
      {{pre.icon "date_range" prefix=true}}
      {{#pre.body}}
        {{pre.content
          "This is a custom preamble with buttons and detail text. Augue parturient aptent rhoncus parturient a aptent."
        }}
        {{pre.content
          "Cursus venenatis enim adipiscing primis laoreet eros curae odio primis nisl a a ad euismod id adipiscing a torquent"
        }}
        {{uxs-button "Hit Me" }}
      {{/pre.body}}
    {{/uxs-preamble}}

  {{/demo.example}}

  {{demo.snippet "custom-preamble.hbs"}}

{{/docs-demo}}
